@charset "utf-8";
/* CSS Document */
.wrap {
	width:100%;
	background:#f5f5f5;
 width:expression_r(document.body.clientWidth <= 1000? "1000px": "auto");
	min-width:1000px;
}
* {
	margin:0px;
	padding:0px;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#f7951e;
}
.clearfix:after {
	DISPLAY: block;
	HEIGHT: 0px;
	CLEAR: both;
	CONTENT: " "
}
.clearfix {
	_zoom: 1
}
* + HTML .clearfix {
	OVERFLOW: hidden;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#ff9900;
}
a img {
	border:none;
}
table {
	border-collapse:collapse;
	border-spacing:0px;
}
body {
	margin:0px auto;
	padding:0px;
	font-family: "宋体", Arial;
	font-size:12px;
	line-height:22px;
	background:url(../images/index_bj.jpg) top repeat-x #f5f5f5;
	color:#000;
	width:100%;
}
ul, ol, li, dl, dt, dd, p, button, input, textarea, th, td, form, span, label, div, img {
	margin:0px;
	pading:0px;
}
ul, ol, dl, li {
	list-style-type:none;
	list-style:none;
}
h1, h2, h3, h4, h5 {
	font-size:12px;
	margin:0;
	padding:0;
	font-weight:normal;
}
input {
	font:12px;
}
a {
blr:expression(this.onFocus=this.blur())
}
a {
	outline:none;
}
.f_le {
	float:left;
}
.f_ri {
	float:right;
}
.cl {
	clear:both;
}
.kuanx {
	background:url(../images/geli_03.jpg) center repeat-x;
	width:1000px;
	height:2px;
}
/*toubu begin*/
.select_list {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 white;
	border-color: -moz-use-text-color #f1a646 #f1a646;
	border-right: 1px solid #f1a646;
	border-style: none solid solid;
	border-width: medium 1px 1px;
	border:solid 1px #f1a646;
	display: none;
	font-size: 12px;
	position: absolute;
	top: 33px;
	left:0px;
	width: 73px;
	line-height:30px;
	z-index:999;
}
.select_list a:hover {
	background:#909090;
	display:block;
}
.header {
	margin:0 auto;
	height:149px;
	width:1000px
}
.toplist {
	height:27px;
	width:1000px;
	margin:0 auto;
}
.toplist ul li a {
	color:#fff;
	font-size:14px;
	font-weight:bold;
	line-height:27px;
}
.toplist ul li a:hover {
	color:#fff;
}
.toplist ul .back {
	float:left;
	background:url(../images/toplist_02.jpg) top no-repeat;
	width:102px;
	height:27px;
	text-align:center;
	margin-left:13px;
}
.toplist ul .daohang {
	float:right;
	background:url(../images/toplist_04.jpg) top no-repeat;
	width:92px;
	height:27px;
	text-align:center;
	margin-right:3px;
}
.toplist ul .help {
	float:right;
	background:url(../images/toplist_06.jpg) top no-repeat;
	width:62px;
	height:27px;
	text-align:center;
	margin-right:16px;
}
.dao {
	width:120;
}
.header_top {
	height:122px;
	width:1000px;
	margin:0 auto;
}
.header_top_logo {
	width:288px;
	height:122px;
	float:left;
}
.header_top_number {
	float:left;
	background:url(../images/number_03.jpg) right no-repeat;
	width:372px;
	height:122px;
	margin:auto;
}
.header_top_index_tj {
	height:31px;
	margin-top:42px;
	float:left;
}
.header_top_index_tj ul {
	width:240px;
	padding-left:20px;
	float:left;
}
.header_top_index_tj ul li {
	height:22px;
	line-height:14px;
	font-size:12px;
	font-weight:bold;
	color:#ff9900;
	width:60px;
	float:left;
}
.index_tj {
	background:url(../images/index_tj.jpg) no-repeat;
	width:78px;
	height:31px;
	float:left;
}
.index_tj h2 {
	font-size:12px;
	color:#ff9900;
	text-align:center;
	line-height:31px;
	width:47px;
	float:left;
}
.index_tj_s {
	width:28px;
	height:29px;
	float:left;
	margin-left:2px;
	margin-top:2px;
	padding:0px;
	overflow:hidden;
}
.index_tj_sp {
	background:url(../images/index_tj_1.jpg) top no-repeat;
	width:28px;
	height:14px;
	overflow:hidden;
	float:left;
	border-bottom:1px solid #ff9900;
}
.index_tj_sp a {
	width:28px;
	height:14px;
	overflow:hidden;
	float:left;
}
.index_tj_sp a:hover {
	width:28px;
	height:14px;
	overflow:hidden;
	float:left;
	border-bottom:1px solid #ff9900;
}
.index_tj_sp1 {
	background:url(../images/index_2.jpg) top no-repeat;
	width:28px;
	height:13px;
	overflow:hidden;
	float:left;
}
.index_tj_sp1 a {
	width:28px;
	height:14px;
	overflow:hidden;
	float:left;
}
.index_tj_sp1 a:hover {
	width:28px;
	height:13px;
	overflow:hidden;
	float:left;
}
.header_top_search {
	float:left;
	width:330px;
	font-size:14px;
	height:33px;
	background:url(../images/topsearch_03.jpg) top left no-repeat;
	z-index:100px;
}
.x_slist2 a.x_selected span {
	font-size:14px;
	float:left;
	line-height:33px;
	text-indent:10px;
	display:block;
	width:75px
}
.header_top_search .test2 {
	width:177px;
	height:29px;
	line-height:29px;
	font-size:14px;
	color:#ef8202;
	margin:2px 0;
	text-indent:6px;
	float:left;
	border:#F00 solid 1px;
}
.header_top_search .image2 {
	float: right;
	width:77px;
	height:33px;
}
/*duwu begin*/
#duwuye {
	width:1000px;
	height:auto;
	margin:0px auto 10px;
	overflow:hidden;
}
.du_top {
	width:1000px;
	height:30px;
	overflow:hidden;
	padding:12px 0px 0px 0px;
}
.mbxie {
	width:980px;
	display:block;
	float:left;
	overflow:hidden;
	padding-left:20px;
}
.mbxie a {
	color:#ff9900;
}
#con_2_xq_xy1 {
	margin:0px;
	text-align:left;
	overflow:hidden;
	width:600px;
	display:block;
	float:right;
	margin-top:8px;
}
#con_2_xq_xy1 dl {
	width:580px;
	height:22px;
	line-height:22px;
	float:left;
}
.dd_span {
	width:65px;
	height:22px;
	float:left;
	text-align:center;
	background:#FFF;
	border:1px solid #d4d4d4;
	margin:0 3px 0 0;
	overflow:hidden;
	display:block;
}
.dd_ym {
	display:block;
	width:120px;
	height:22px;
	overflow:hidden;
	float:left;
}
.dd_ym11 {
	width:265px;
	height:22px;
	display:block;
	float:left;
	overflow:hidden;
}
.dd_ym labe {
	display:block;
	float:left;
	overflow:hidden;
}
.dd_ym11 font {
	display:block;
	width:60px;
	font-size:12px;
	float:left;
	margin:0px 3px;
	overflow:hidden;
}
.dd_ym11 input {
	width:20px;
	height:15px;
	display:block;
	float:left;
	overflow:hidden;
}
.dd_span1 {
	width:28px;
	margin:0px 4px;
	height:19px;
	float:left;
	text-align:center;
	background:#FFF;
	border:1px solid #d4d4d4;
}
/*duwu end*/
 
/*jiansuo -- begin*/
.duw_js {
	width:390px;
	overflow:hidden;
	height:25px;
	margin:6px 0px;
}
.duw_js input {
	float:left;
	margin:0px 4px 0px;
	width:13px;
	height:23px;
}
.duw_js label {
	line-height:23px;
	height:23px;
}
.duw_js_ww {
	width:180px;
}
.du_quanb {
	width:240px;
	float:left;
}
.du_mrpx {
	background:url(../images/filterbar.png) no-repeat -40px 0px;
	display:block;
	height:23px;
	width:60px;
	text-align:left;
	float:left;
	text-indent: 5px;
	margin-right:8px;
}
.du_mrpx_s {
	background:url(../images/filterbar.png) no-repeat -93px -46px;
	width:60px;
	height:23px;
	display:block;
}
.du_xl {
	background:url(../images/filterbar.png) no-repeat -30px 0px;
	display:block;
	height:23px;
	width:70px;
	text-align:left;
	float:left;
	text-indent: 5px;
}
.du_xl_s {
	background:url(../images/filterbar.png) no-repeat -93px -46px;
	width:55px;
	height:23px;
	display:block;
	float:left;
}
.du_tex {
	background:url(../images/filterbar.png) no-repeat -40px 0px;
	display:block;
	height:23px;
	width:60px;
	text-align:left;
	float:left;
	text-indent: 7px;
	margin-right:6px;
}
.du_tex_s {
	background:url(../images/filterbar.png) no-repeat -93px -46px;
	width:45px;
	height:23px;
	display:block;
	float:left;
}
.du_xl_sxjt {
	width:7px;
	background:url(../images/filterbar.png) no-repeat -0px -47px;
	display:block;
	height:23px;
	float:left;
}
.du_sy a {
	width:60px;
	height:20px;
	line-height:20px;
	margin:0px 3px;
	text-align:center;
}
.du_sy_s {
	background:url(../images/filterbar.png) no-repeat -93px -46px;
	width:45px;
	height:23px;
	display:block;
	float:left;
}
.du_sy_sxjt {
	width:7px;
	background:url(../images/filterbar.png) no-repeat -0px -47px;
	display:block;
	height:23px;
	float:left;
}
.du_sy_sxjt11 {
	width:7px;
	background:url(../images/filterbar.png) no-repeat -10px -47px;
	display:block;
	height:23px;
	float:left;
}
a:hover .du_sy_sxjt {
	width:7px;
	background:url(../images/filterbar.png) no-repeat 0px -69px;
	display:block;
	height:23px;
	float:left;
}
a:hover .du_sy_sxjt11 {
	width:7px;
	background:url(../images/filterbar.png) no-repeat -10px -69px;
	display:block;
	height:23px;
	float:left;
}
.du_sy_wm {
	float:left;
	overflow:hidden;
}
/*jiansuo -- end*/
 /*-----------------------------------// 导航 //-----------------------------------*/
#navi{background:url(../images/nav_03.jpg) repeat-x; width:1000px; height:41px; margin:0 auto;}	
ul.nav{ width:1000px; margin:0 auto;overflow:hidden;}
ul.nav li{ float:left; width:83px;line-height:41px; font-weight:bold; font-size:16px;  text-align:center; margin:0 18px 0 18px; }
ul.nav li a{width:83px;color:#fff;  height:41px; }
ul.nav li a:hover{ width:90px;background:#ef8202; height:41px;color:#fff; display:block; }

a#current{
	background:#ef8202;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	line-height:41px;
	height:41px;
	display:block;
}
 
/*duwupailie --begin*/
.duw_shu {
	background:#FFF;
	height:auto;
	overflow:hidden;
	width:1000px;
	margin:0px auto;
	padding-bottom:10px;
}

.duw_wmdg{ border-bottom:1px solid #e3e3e3;}
.duw_dg{ width:960px; padding:20px;}
.duw_dg_tp{ border:1px solid #e3e3e3; width:150px; height:150px; display:block; float:left; margin-right:15px; overflow:hidden;}
.duw_dg_bt { width:790px; height:auto; line-height:22px;display:block;float:left; border-bottom:1px dashed #e3e3e3; padding-bottom:7px;}
.duw_dg_bt a{ color:#185088; font-size:14px; overflow:hidden;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; width:790px; line-height:22px; display:block; float:left; text-decoration:underline;}
.duw_dg_bt a:hover{ color:#ff9900;}

.duw_dg_zzjs{ color:#000; font-size:12px; line-height:22px; display:block; margin-top:5px; float:left; width:790px; overflow:hidden;}
.duw_dg_zzjs a{ color:#ff9900; text-decoration:underline;}
.duw_dg_dujj{ color:#000; font-size:12px; line-height:22px; display:block; margin:5px 0px; float:left; width:790px; height:80px;}
.duw_dg_sc{ line-height:22px; overflow:hidden; display:block; float:right;}
/*duwupailie --end*/

/*-----------------------------------// 底部信息 //-----------------------------------*/
.tg_message{ width:1000px; height:206px; margin:0 auto; background:url(../images/di_03.jpg) bottom repeat-x #FFF;}
.tg_message img{ float:left; margin-left:15px; margin-top:10px;}
.tg_message ul{ float:right; padding:30px 10px 0px 0px;}
.tg_message ul li{ width:150px; float:left; overflow:hidden; }
.tg_message ul li.list{ padding:10spx;height:160px; overflow:hidden;}
.tg_message ul li.list h1{ font-weight:bold; text-align:center; font-size:14px;}
.tg_message ul .list .detail{ padding:0px;width:150px; margin:0 auto; padding-top:10px; }
.tg_message ul .list .detail li{ height:22px; line-height:22px; padding:0px;border:none;width:100px; text-align:left; float:left;text-indent:32px; margin-left:14px;}
.tg_message ul .list .detail li a{color:#666666;}
.tg_message ul .list .detail li a:hover{ color:#f7951e}
/*-----------------------------------// 底部 //-----------------------------------*/
.footer{ line-height:33px; height:auto; font-size:12px; color:#909090; width:1000px; margin:0 auto; text-align:center; padding-top:10px;}
.footer a{ color:#909090; text-decoration:none;}
.footer a:hover{ color:#f7951e;}
.ren{ width:1000px; height:60px; overflow:hidden; margin:0 auto; text-align:center;}
.ren ul{ width:auto; margin:10px auto; padding-left:200px;}
.ren ul li{ float:left; margin-right:13px; width:auto;}
/*-----------------------------------// remenduwu //-----------------------------------*/

.duwuxq_bt{ height:60px; line-height:35px; color:#000; font-size:16px; padding:20px 0px; margin:0px auto; width:960px;word-break:break-all; font-weight:bold; border-bottom: 1px dashed #c3c3c3; overflow:hidden;}
.duwuxq_nr{ width:960px; height:auto; padding:20px 0px; overflow:hidden; margin:0px auto;}

.duwuxq_nr_le{ display:block; overflow:hidden; width:286px; height:auto;}
.duwuxq_nr_le_im{ margin-left:50px;}
.duwuxq_slt{ height:60px; width:260px; margin:0px auto; margin-top:30px;}
.duwuxq_slt span{ margin:2px 3px; float:left; display:block; overflow:hidden; width:50px; height:50px;border:1px solid #ff9900;} 
.duwuxq_fxd{ width:260px; height:20px; padding-left:15px;}
.duwuxq_fxd p{ display:block; float:left; width:50px; line-height:22px;}
.duwuxq_fxd span{ margin:2px 3px; float:left; display:block; overflow:hidden;}
.duwuxq_fxd span a{ border:none;}
.duwuxq_wzlj{ height:41px; width:260px; display:block; overflow:hidden; float:right; margin-top:15px;}
.duwuxq_wzlj p{ width:50px; display:block; float:left; line-height:30px;}
.duwuxq_wzlj span{ display:block; float:left; width:90px; height:28px; border:1px solid #ff9900;}

.duwuxq_nr_ri{ display:block;margin-left:0px; width:674px;height:auto;}


.book_detailed{ border-bottom:1px solid #c3c3c3; height:auto; margin-bottom:10px;}
.book_detailed a{ color:#1c65b4;}
.duwuxq_nr_ri_jj_bt{ background:#f7f7f7; height:22px; font-size:14px; line-height:22px; display:block; text-indent:25px; font-weight:bold;}

.duwuxq_nr_ri_jj p{  line-height:24px;word-break:break-all; font-size:12px; display:block; overflow:hidden; }


/*-----------------------------------// hysq //-----------------------------------*/
.hysq{ width:1000px; height:auto;  margin:10px auto;}
/*zuobian*/

.hysq_left{ width:300px; overflow:hidden;height:auto;}
.hysq_left img { margin-left:5px;}




/*zhongjian*/

.hysq_center{ width:463px; margin:0px 10px;overflow:hidden;height:auto;}
.hysq_quxinwen{ height:210px; width:460px;}
.hysq_rmbw{ height:170px; width:460px;}
.hysq_quxinwen_bt,.hysq_rmbw_bt{ border-bottom:1px solid #cccccc; height:26px; margin-bottom:12px;}
.hysq_quxinwen_btwz,.hysq_rmbw_btwz{ color:#ff5a00; font-size:18px; height:26px; display:block; font-weight:bold; float:left; text-indent:25px; width:110px; background:url(../images/sqbt_x.jpg) bottom right no-repeat;}
.hysq_quxinwen_btsj{ float:right; padding-right:5px; display:block;}
.lvs{ color:#006dd9;}
.huangs{ color:#fd663b;}
.slhzt{ width:460px; display:block; line-height:30px; text-align:center; font-size:16px; font-weight:bold;}
.xwslwz{}
.xwslwz a{ color:#666;}
.xwslwz a:hover{ color:#000;}

.hysq_rmbw_cont{}
 .hysq_rmbw_cont_lia{ line-height:22px; font-size:12px; color:#666; display:block; width:70px; text-align:right; float:right;}
.hysq_rmbw_cont_lia1{line-height:22px; font-size:12px; color:#000; display:block; text-align:left; float:left;}
.hysq_rmbw_cont_lizi{ display:block; float:left; text-align:left; font-size:12px;}
.hysq_rmbw_cont_liqmz a{ color:#000;white-space:nowrap;text-overflow:ellipsis; overflow:hidden; width:380px; }
.hysq_rmbw_cont_liqmz{ line-height:22px; font-size:12px; color:#000;display:block; text-align:left; float:left;white-space:nowrap;text-overflow:ellipsis; overflow:hidden; width:380px;}
.huangsea{ color:#ff9900;}

#hydh{ width:592px; height:25px; margin-bottom:8px; padding-left:8px;}
#hydh label{width:50px; float:left; text-align:right; color:#000; padding-right:8px;}
#hydh select{ width:100px; margin:0 auto; display:block; float:left;}
/*#hydh select option{ line-height:25px;height:60px;}*/
#hydh input{ margin-left:5px; height:19px; background:#FFF; border:1px solid #C3C3C3; line-height:19px; overflow:hidden; display:block; width:100px; float:left;}
#hydh button{ margin-left:5px;background:#FFF; border:1px solid #C3C3C3; width:70px; height:22px; display:block; float:left; }
/*
.index_xszy{ width:720px;}*/
.index_xshdm{ overflow:hidden; width:750px;border:#FFF solid 1px;}
.index_xshdm_xm{ padding:10px; width:730px; margin:0 auto; display:block; overflow:hidden;}
.index_xmzi{ width:240px; padding:0px; float:left;}
.index_xmzi strong{ width:240px; display:block;}
/*.index_xmzi p{ padding-left:8px;}*/
.index_xmzi a{ width:60px; display:block; float:left; overflow:hidden;}
.shequmianbaoxie a{ color:#ff9900;}
.shequmianbaoxie a:hover{ color:#ff9900; text-decoration:underline;}


/*youbian*/

.hysq_right{ width:212px;overflow:hidden; height:auto; margin-left:5px;}

.content_right{ float:left; width:211px; height:auto; overflow:hidden;}
.login{ width:209px; margin:0 auto; height:216px; background:url(../images/login_03.jpg) center no-repeat;border:#FFF solid 1px; overflow:hidden}
.login h1{ text-align:center; color:#f7941d; font-size:16px; height:25px; line-height:25px; font-weight:bold; padding-top:5px;}

.login ul{display:block;width:200px; padding-top:14px; margin:auto;}
.login ul li {display:block; line-height:22px; width:200px; height:22px;overflow:hidden; margin-bottom:8px;}
.login ul li .login_input{ background:none; border:none; float:left; width:10px;}
.login ul li label { width:70px; float:left; line-height:20px; text-align:right;overflow:hidden} 
.login ul li input {height:20px; float:left; line-height:20px;background:url(../images/zc_1.jpg) no-repeat; border:none; width:128px;}
.zinp{text-align:center; margin-left:18px; width:160px;}
.inp{ height:22px; line-height:22px; color:#000; background:url(../images/dl.jpg) center no-repeat; display:block;width:72px; margin-right:8px; float:left;}
.inp a{ color:#000;}
.inp a:hover{ background:url(../images/dl.jpg) center no-repeat; display:block;}
/*zaixianshequ*/
.zaixianshequ{ float:left; width:200px;  height:auto; overflow:hidden; border:1px solid #fff; padding:5px; margin-bottom:12px;}
.zaixianshequ_xx{ width:199px; padding-left:6px; overflow:hidden; line-height:22px; height:65px;}
.zaixian{ width:130px; margin:0px auto; height:130px; border:1px solid #ff9900; overflow:hidden;}
.zaixianshequ_xx a{ width:95px; float:left; line-height:22px; height:22px;}
.zaixianshequ p a{ width:80px; color:#ff9900; display:block; text-align:right;}

/*weibo*/
.gfweibo{ width:210px;overflow:hidden; height:150px; margin-top:10px; border:1px solid #FFF;}
.gfweibo span{ float:left; margin-left:3px;}
.gfweibo h2{ color:#ff9900;  background:url(../images/sq_bj.jpg) top repeat-x; height:23px; font-size:14px; font-weight:bold; text-indent:12px;}


/*shequfenlei*/
.shequfenlei{ width:598px; height:auto; overflow:hidden; border:1px solid #FFF; margin-top:10px; margin-right:10px; display:block; float:left;}
.shequfenlei_tb{ background:url(../images/sqfl.jpg) top repeat-x; height:30px; line-height:30px; text-indent:20px; font-size:14px; font-weight:bold; color:#ff9900; border-bottom:1px solid #fff;}
.shequfenlei_tb span{ color:#ff9900; float:left; display:block; width:200px;}
.shequfenlei_tb a{ width:60px; line-height:30px; float:right; display:block; font-size:12px; font-weight:normal;}
.shequfenlei_cont{ width:598px; margin:0px auto;}
.shequfenlei_cont ul{ overflow:hidden; height:85px; margin:0px auto; padding:12px 0px 0px 12px;}
.shequfenlei_cont ul li{ width:280px; float:left; margin:3px;}
.shequfenlei_cont_ul_p{ width:280px; font-size:14px; font-weight:bold; display:block;}
.shequfenlei_cont_ul_a a{ color:#000; font-size:12px; display:block; float:left; width:70px;}
.shequfenlei_cont_ul_a a:hover{ color:#ff9900;}
.gengduoa{ display:block; float:right; width:60px; text-align:left;}

.qingnizhizhao{ width:388px;overflow:hidden; border:1px solid #FFF; margin-top:10px; display:block; float:left;}
.qingnizhizhao_con{ margin:5px auto;}
.qingnizhizhao_con_p{ display:block; margin-bottom:5px; line-height:24px; padding-left:20px;}
.qingnizhizhao_con_a{ width:350px; line-height:25px; margin:0px auto;}
.qingnizhizhao_jd{ width:350px; line-height:22px; overflow:hidden; height:auto; margin:0px auto; padding:10px 0px;}
.qingnizhizhao_jd div{ line-height:26px; overflow:hidden; width:350px;}
.qingnizhizhao_jd a{ width:280px; display:block; float:left;white-space:nowrap;text-overflow:ellipsis; overflow:hidden; line-height:26px; }
.qingnizhizhao_jd span{ width:70px; display:block; float:right; text-align:right;line-height:26px; overflow:hidden;}


/*jiaoliuliebiao*/
.jiaoliuliebiao{ width:778px; height:auto; overflow:hidden; }
.jiaoliuliebiao_biaot{ width:776px;border:1px solid #fff; background:#eeeded;}
.jiaoliuliebiao_biaot li{ line-height:30px; height:30px; display:block; float:left;}
.jllb_biaot_tet{ height:30px; line-height:30px; text-align:left; font-size:14px; color:#ff9900; text-indent:12px;}


.jllb_biaot_tet11{ height:40px; text-align:left; font-size:12px; color:#7f7f7f; border-bottom:1px solid #fff; }
.jllb_biaot_tet11 a:hover{ color:#ff9900;}
.jllb_biaot_tet11 img{ margin:12px 5px 0px 10px; float:left;}

.jllb_biaot1{ width:462px;}
.jllb_biaot1 a{ color:#7f7f7f; line-height:40px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width:430px; display:block; float:left;font-size:14px;}
.jllb_biaot2{ width:100px;}
.jllb_biaot2 a{ color:#7f7f7f; line-height:18px; display:block;}

.jllb_biaot3{ width:100px;}
.jllb_biaot3 a{ color:#7f7f7f; line-height:40px;}

.jllb_biaot4{ width:110px;}
.jllb_biaot4 a{color:#7f7f7f; line-height:18px; display:block;}
.squhx{ background:url(../images/di_03.jpg) top repeat-x; width:1000px; height:2px;}

.sqsxy{ width:162px; height:30px; overflow:hidden;display:block;}
.sqsxy input{ display:block; float:left; width:30px;border:1px solid #d4d4d4; height:22px; }
.sqsxy_span{ width:40px; height:22px;float:left;text-align:center;border:1px solid #d4d4d4;margin:0 3px 0 0;display:block;overflow:hidden; background:#FFF;}
.sqsxy_span1{ width:30px; height:22px;float:left;text-align:center;border:1px solid #d4d4d4;margin:0 3px 0 3px;display:block;overflow:hidden; background:#FFF;}
.sqsxy_mar{margin:20px 0px 10px 0px}


/*shequ-xinwenhuifu*/
.shequ_xwhf{ width:1000px; height:auto; overflow:hidden; margin:0px auto;}
.shequ_xwhf_a1{ width:1000px; height:auto; overflow:hidden; margin:0px auto 20px;}
.shequ_xwhf_tet{ background:url(../images/sqfl.jpg) repeat-x; width:998px; height:30px;border:1px solid #d4d4d4; }

.hyxzyemian{ width:100px; text-align:center;}
.hyxzyemian_xza{ background:url(../images/dl.jpg) center no-repeat; display:block; overflow:hidden;  height:21px;}

.hyxzyemian11tr_td{ text-indent:24px;}
.hyxzyemian11tr_td a{ color:#ff9900;}
.hyxzyemian22 tr td{line-height:35px; border-bottom:1px dashed #e5e5e5; border-left:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}





.shequ_xwhf_cont{ height:auto; overflow:hidden; width:998px;border-left:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;  }
/*neidongzoubian*/
.shequ_xwhf_cnle{ height:auto; overflow:hidden; width:208px;}
.cnle_bz{ width:206px; margin:0px auto; height:auto; padding-bottom:15px;}
.cnle_bz p{ padding-left:6px;}
.cnle_bz span{ margin:5px;}
.cnle_bz a img { width:50px; height:50px; border:1px #ff9900 solid;}
.cnle_xy{ width:140px; display:block; height:50px; margin-top:5px; overflow:hidden;}
.cnle_xy p{ line-height:24px; height:24px;}
.conle_an{ height:23px; overflow:hidden; display:block;}
.conle_an a{  background:url(../images/cnlean.gif) no-repeat; display:block; width:71px; height:23px; text-align:center; line-height:23px; float:left; margin:0px 5px; color:#ff9900;}

.cnzj_x{ width:1px; border-right:1px  dashed #c3c3c3; height:auto; padding:10000px 0px; margin:-10000px 0px;}


/*neidongyoubian*/


.shequ_xwhf_cnri{ height:auto; overflow:hidden; width:776px; padding:5px; }
.cnri_tet{ height:32px; width:776px; display:block; overflow:hidden; border-bottom:1px dashed #c3c3c3; line-height:30px;}
.cnri_tetle{ display:block; width:220px; float:left;}
.cnri_tetle a{ color:#ff9900;}
 
.cnri_tetri{ display:block; width:350px; float:right;} 
.cnri_tetri a {}
.cnri_tetri a img { display:block; float:left; margin:0px 6px;}
 
.cnri_wz{ height:auto; display:block; width:768px;word-break:break-all; text-indent:24px; font-size:14px; line-height:30px;} 
 
 
 /*huifupinglun*/
.huifupinglun{ width:986px;  margin:20px auto; overflow:hidden; height:auto;}
.hfpl_huff{ text-align:left; font-size:14px; font-weight:bold; line-height:30px; padding-left:12px;height:30px; background:url(../images/sqfl.jpg) repeat-x; border:1px solid #c3c3c3; margin-bottom:10px;}
 
.hfpl_hfk{ background:#f0f0ee; border:1px solid #c3c3c3;  height:30px; overflow:hidden; width:600px;}
.hfpl_hfk td{ width:19px; height:19px; _border-top:1px solid #c3c3c3; }
 
.hfpl_hf_nr{ width:598px; border:1px solid #c3c3c3; height:200px; background:#FFF;}
 
 .hf_qrhf{ height:40px; line-height:30px; margin-top:10px;width:978px; margin:0px auto; padding-left:20px; display:block; overflow:hidden;}
.hf_qrhf button{ background:#fff; border:1px solid #c3c3c3; display:block; width:120px; line-height:30px;}
 
 .hf_bq{width:366px; height:202px; display:block; margin-left:20px;}
.hf_qqbq{ line-height:35px; height:35px; width:35px; text-align:center;}
  
 
 