@charset "utf-8";
a{color:#FFF;}
a:hover{color:#FF0;}
body{background:#50574f;}
.biaotit{border-bottom-style:dashed;margin-top:12px;}
.contactTable th{text-align:right;padding-right:6px;}
.contactTable tr:hover{background:none;}
.fanyea .dd_span1{height:19px;}
.fanyea a{color:#333;text-decoration:none !important;}
.fanyea a:hover{color:#666;}
#goToTop{background-image:url(../img/arrowGreyT.png);}
#searchOpt{display:inline;}
.pcontent h2{font-size:18px;font-weight:bold;text-align:center;padding:12px 12px 0;text-shadow:2px 2px 2px #999;}
.pcontent h3{text-align:center;font-size:12px;font-weight:bold;margin:5px 0 10px;}
.pcontent .proInfo p{text-indent:1em;margin:6px 0;}
.pcontent .img{margin:3px auto;display:block;max-width:550px;max-height:400px;min-height:300px;_width:533px;_height:400px;}
.zhucrig{text-align:right;padding:0 12px;width:976px;}
.zhucrig a{color:#ccc;}
.zhucrig a:hover{color:#FFF;}

.header{background:url(../img/gsqtHBg.gif) 0 0 repeat-x;height:151px;overflow:hidden;}
.header .divH{width:113px;float:left;height:151px;}
.header .middle{width:297px;margin-top:10px;overflow:hidden;display:table;height: 121px;*position: relative;*display:block;}
.header .middle div{display:table-cell;vertical-align:middle;*display:block;*position:absolute;*top:50%;*left:0;}
.header .middle img{max-height:121px;max-width:297px;*display:block;*position:relative;*top:-50%;*left:0;}
.header .right{width:560px;margin-right:30px;font:bold 30px "微软雅黑","黑体";text-shadow:3px 3px 1px #CCC;background-position:-13px -151px;text-align:right;}
.header .right table tr:hover{background:none;}
.header .right .webName{font-size:22px;color:#D33;letter-spacing:2px;}
.header .right .webNameB{font-size:30px;color:#000;}

.main{background:#f0be5d;color:#fff;overflow:hidden;}
.main a{text-decoration:underline;}
.main .left{width:113px;float:left;height:100%;}
.main .left .divnavLeft,.navMiddle{width:100%;height:41px;margin-bottom:12px;}
.main .left .navLeft{background:url(../img/gsqtNavLiBg.png) -388px 0 no-repeat;float:right;width:24px;height:25px;}
.main .right{width:115px;}
.main .left .navRight{background-image:url(../img/gsqtNavLiBgH.png);float:left;}
.main .middle{background:#ba791c;width:772px;float:left;padding-bottom:12px;}
.main .middle .conLeft th{text-align:right;}
.main .conLeft .content{padding:12px 8px;background:#8C4300;overflow:hidden;}
.main .conLeft .content p{text-indent:2em;}
.main .middle .conRImg{width:256px;border:2px #FFC solid;float:right;margin-left:8px;}

.navMiddle ul li{float:left;height:34px;margin-top:7px;}
.navMiddle li a{display:block;width:128px;height:34px;background:url(../img/gsqtNavLiBg.png) -130px 0 no-repeat;color:#444;font:bold 14px/34px "宋体";text-align:center;text-decoration:none;}
.navMiddle li a:hover,.navMiddle li a.active{background-image:url(../img/gsqtNavLiBgH.png);color:#000;}
.navMiddle li a.aleft{background-position:0 0;width:130px}
.navMiddle li a.aright{background-position:-258px 0;width:130px;}

.main .divconMiddle{padding:0 12px}
.main .middle .ulProducts{margin:0 auto;height:162px;width:748px;}
.main .middle .ulProducts li{float:left;margin:8px 0;overflow:hidden;text-align:center;width:142px;}
.main .middle .ulProducts li a{text-decoration:none;}
.main .middle .ulProducts li .borderImg{border:1px #3F381E solid;height:130px;width:140px;}
.main .middle .ulProducts li a:hover div{border-color:#FF0;}
.main .middle .ulProducts li img{max-width:140px;max-height:130px;_width:140px;_height:130px;}
.main .divContact{width:360px;float:left;}
.main .divMap{float:right;width:360px;display:none;}
#mapLayout{color:#333;width:360px;height:240px;}
#mapLayout a{color:#F90;}

.main1 .middle{overflow:hidden;margin:0 113px;float:none;padding:0;}
.main1 .middle .pcontent{border-top:1px dashed #FFF;display:none;padding:0 8px 12px;}
.main1 .middle .pcontent .pleft{float:left;width:374px;padding:0 6px;}
.main1 .middle .pcontent .pbottom{clear:both;width:772px;}
.main1 .middle .pcontent .moreImg{overflow:auto;height:124px;margin-bottom:20px;display:none;}
.main1 .middle .pcontent .proInfo{padding:6px 6px 0;}

.hyxzyemian22{border:1px solid #CCC;text-align:center;margin:12px 0 0;float:none;}
.hyxzyemian22 thead tr{background:#8C4300;border-bottom:1px #DDD solid;}
.hyxzyemian22 tbody tr:hover{background-color:#50574F;}
.hyxzyemian22 tbody tr a{text-decoration:none;}
.hyxzyemian22 tbody tr:hover a,.hyxzyemian22 tbody tr a:hover{color:#FF0;}
.hyxzyemian22 tr td{border-bottom:1px solid #ddd;border-right:1px dashed #DDD;cursor:pointer;line-height:24px;padding:3px 0;}
.hyxzyemian22 tr .content{text-align:left;padding:3px;text-indent:1em;}
.hyxzyemian22 .btnInfoDl a{text-decoration:underline;}

.posInfo tbody tr{background-color:#4D4324;}
.posInfo tbody th{text-align:right;padding-right:8px;}

.main1 .middle .pcontent .docpreview{margin:8px auto 0;width:680px;}
.main1 .middle .pcontent .btnDownload{display:block;margin-top:8px;height:30px;width:87px;font:bold 14px/34px "宋体";background:url(../img/btnbgs.gif) 0 -237px no-repeat;color:#333;text-decoration:none;text-align:center;}
.main1 .middle .pcontent .btnDownload:hover{background-position:-87px -237px;color:#000;}
.pcontent .zclan2{float:left;margin:0 -270px 0 290px;}

#bgKuang{position:absolute;z-index:90;background-color:#000;top:0;left:0}
.facexh{color:#F00; margin-right:6px;font-weight:normal;}
.jsxxxqB{position:absolute;z-index:99;width:605px;display:none;background:#FFF;border:1px #999 dashed;}
.jsxxxqB a{color:#F30;}
.jsxxxqB a:hover{text-decoration:underline;}
.jsxxxqB .closeDiv{display:block;position:absolute;width:22px;height:22px;background:url(../img/xc_r.gif) -37px -6px no-repeat;top:-10px;right:-8px;}
.jsxxxqB .closeDiv:hover{background-position:-37px -38px;text-decoration:none;}
.jsxxxqB .hyxzyemian22{background:none;}
.jsxxxqB .hyxzyemian22 thead tr{background:#EEE;}
.jsxxxqB .pcontent{padding:8px 12px;}
.jsxxxqB .posInfo tbody tr{background:none;}
.jsxxxqB .zclan{color:#EEE;margin-bottom:12px;}
.jsxxxqB .zclan:hover{color:#ccc;text-decoration:none;}
.sjle{width:100%;overflow:hidden;position:relative;margin-top:25px;}
.sjle ul li{line-height:24px;width:100%;position:relative;float:left;margin: 0 0 10px;}
.sjle ul li label{color:#555;width:145px;float:left;text-align:right;}
.sjle ul li ul{width:450px;float:right;}
.sjle ul li ul li{width:133px;margin:0px;}
.sjle ul li .inpTextBox{width:218px;height:20px;float:left;line-height:20px;padding:0px 5px;margin:0px 5px;}
.sjle ul .products{padding:0 5px;}
.sjle ul .products label{text-align:left;margin:3px 0 0 6px;float:none;}
.sjle ul .keyuan li{width:225px;}
.sjle ul .keyuan li label{width:206px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.getCheckNum{color:#187EE3;margin:0 0 0 4px;font-weight:normal;}
.getCheckNum:hover{color:#003EE3;}
.djbuz .getCheckNum img{height:20px;vertical-align:middle;}
.imgYanzhengma{height:22px;margin:0 8px;}

.footer{background:#a8580f;height:90px;padding:20px 0;color:#DDD;}
.footer a{text-decoration:none;font-size:12px;color:#f0be5d;}
.footer a:hover{color:#FF0;}