@charset "utf-8";

.content_mid{float:left;width:748px;overflow:hidden;margin-bottom:12px;}
#banners{margin-bottom:12px;width:748px;overflow:hidden;visibility:hidden;}
#banners img{width:748px;height:314px;}
.content_mid .keyuan{margin-bottom:12px;overflow:hidden;}
.content_mid .keyuan .fl{width:352px;border:1px #FFF solid;background:#FFF;height:211px;overflow:hidden;padding:0 6px;}
.content_mid .keyuan .fl h3{padding:6px 8px 0 22px;border-bottom:2px #C33 solid;background:url(../img/frmIcon.gif) 6px -658px no-repeat;height:22px;font:bold 14px/25px "宋体";}
.content_mid .keyuan .fl h3 a.more{font-weight:bold;font-size:14px}
.content_mid .keyuan .fl h3 span{color:#F30;margin-left:6px;font-weight:normal;}
.content_mid .keyuan .fl .ulLists{overflow:hidden;width:352px;}
.content_mid .keyuan .fl .lists li{padding:2px 8px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;height:22px;*vertical-align:middle}
.content_mid .keyuan .fl .lists li p{float:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:96px;_width:96px;}
.content_mid .keyuan .fl .lists li:hover p{float:none;display:inline;}
.content_mid .keyuan .fl .lists a:hover {*display:block;_cursor:pointer;}

.content_right{width:235px;float:right;height:auto;margin-bottom:20px;}
.login{width:235px;margin:10px 0 5px;height:220px;background:url(../img/login_03.gif) 0 0 no-repeat;overflow:hidden;position:relative;}
.login h3{text-align:center;color:#A43A00;font:bold 16px/25px "";height:25px;padding-top:5px;}
.login ul{padding:14px 0 0 10px;*display:block;*padding-left:18px;}
.login li{*margin:0 0 8px;}
.login ul li .inpTextBox{width:140px;padding-left:22px;background:url(../img/iconLogin.png) no-repeat #FFF;_background-image:url(../img/iconLogin.gif);}
.login ul li input.password{background-position:0 -20px;color:#333;}
#passwordL{left:46px;left:45px\9;top:48px;top:45px\9;_left:25px;}
.login ul li input.yanzhengma{background-position:0 -39px;width:37px;}
.login ul li label{line-height:20px;} 
.login ul li label .inpRadio{margin-right:5px;*vertical-align:middle;*margin-right:0;}
.zinp{text-align:center;margin-left:18px;}
.login .liForget{text-align:right;margin-top:-7px;}
.login .liForget a:hover{text-decoration:underline;color:#333;}
.login .mebLinks{padding:8px;}
.login .mebLinks dd a{margin-bottom:7px;}

.content_right .crAd{margin-bottom:12px;}
.content_right .crAd img{width:235px;}

.change2{clear:both;border:#F6C36B solid 1px;overflow:hidden;margin-bottom:12px;}
.nTab3 .TabTitle3{height:32px;background:#F6C36B;}
.nTab3 .TabTitle3 ul li{float:left;width:54px;text-align:center;height:32px;line-height:32px;}
.nTab3 .TabTitle3 ul li a{font-size:14px;color:#000;}
.nTab3 .TabTitle3 .active3{background:#FFF;font-weight:bold;}
.con_3{padding:6px 10px 2px 10px;background-color:#FFF;}
.con_3 li{height:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px dashed #bfbebe;position:relative;_width:213px;}
.con_3 li a{padding-left:10px;line-height:28px;background:url(../img/tticon.gif) left -42px no-repeat;*display:block;*background-position:left -34px;}
.con_3 li a:hover {color:#f7951e;}
.con_3 span{background:#FFF;position:absolute;top:0;right:0;padding:2px 0 3px 3px;color:#666;}
.con_3 h5{text-align:right;padding-top:4px;}
.myTab1_Content2{display:none;}

.cont{width:752px;float:left; height:auto;overflow:hidden;}
.cont .serTable .left .textEllipsis{width:630px;}

.nTab{border:#FFF solid 1px;margin-bottom:20px; width:748px;}
.nTab .TabTitle{width:740px; height:35px; line-height:35px;display:block;background:url(../img/index_r27_c5.gif) 0 0 no-repeat;padding-left:8px;}
.nTab .TabTitle ul{border:0;margin:0;padding:0;}
.nTab .TabTitle ul li{float:left;width: 97px;cursor:pointer;font-size:14px;text-align:center;margin:0; color:#FFF;height:35px; line-height:35px;width: 97px;font-weight:bold;}
.nTab .TabTitle ul li.active{background:url(../img/index_r27_c19.gif) center center no-repeat;color:#333;font-weight:bold;}

.con_c{ width:740px; margin:8px 0px 8px 5px; display:block; overflow:hidden;}
.con_c_zuo{ width:370px; float:left;}
.con_c_zuo_bt{ width:312px; padding-left:10px; font-weight:bold; color:#ff9900; line-height:22px;float:left; display:block; overflow:hidden;}
.con_c_zuo_kj{width:312px; padding-left:10px;line-height:22px;float:left;display:block; overflow:hidden; }
.con_c_zuo_slnr{ width:370px;line-height:20px; color:#868686;display:block; float:left; }
.con_c_zuo_wm{ margin-bottom:12px; overflow:hidden;}
.con_c_zuo_wm .icon{float:left;background:url(../img/zjfk.gif) 0 0 no-repeat;border:1px #333 solid;width:44px;height:44px;}
.con_c_zuo_wm .icon1{background-position:0 -44px;}
.con_c_zuo_wm .icon2{background-position:-44px 0;}
.con_c_zuo_wm .icon3{background-position:-44px -44px;}

.index_hdm{overflow:hidden; width:750px;border:#F5F5F5 solid 1px;margin-bottom:30px;}
.ziyuan_tit_zul {cursor: pointer;float: right;height: 35px;padding-left: 6px;text-align: center;width: 320px;}
.ziyuan_tit ul{float:right;}
.ziyuan_tit ul li {border-right: 1px solid #FF9900;float: left;height: 18px;margin: 0 auto;text-align: center;width: 78px;}
.ziyuan_tit ul li a{color:#000;}
.ziyuan_tit ul li.active4,.ziyuan_tit ul li.active4 a{color:#FF0000;}

.index_xshdm{margin-bottom:12px;overflow: hidden;width: 750px;}
.ziyuan_tit{height:35px;color:#000; font-size:14px;}
.ziyuan_tit span{width:109px; text-align:center; background:#fb7408; font:bold 14px/33px "";color:#FFF;display:block;height:33px;float:left;}
.index_xshdm_xm{padding:0 12px;border:1px solid #FFF;}
.index_xshdm_xm ul li{display:none;}
.index_xshdm_xm li a{display:block;}
.index_xshdm_xm li p{line-height:28px;width:434px;}
.index_xshdm_xm li .more{text-align:right;background:#F5F5F5;}
.index_xshdm_xm tr:hover a{color:#F50;}
.index_xshdm_xm .btnUploadDoc{display:block;width:83px;height:30px;background:url(../img/btnbgs.gif) 0 -207px;font:bold 14px/30px "宋体";text-align:center;margin:0 0 8px;color:#FFF;text-shadow:0 0 6px #F00;}

.ziyu_dlt_wm{ width:720px;}
#ss2{padding:12px;border:1px solid #FFFFFF;}
.index_book{ width:730px; clear:both; padding:0px; margin:0px;}
.index_book_p{ display:block;overflow:hidden;}
.index_book_p img{ float:left;}
.index_book_p span{ width:475px;line-height:22px;display:block; text-indent:12px; font-size:12px; margin-left:10px;float:left;background:url(../img/tticon.gif) left -35px no-repeat;}
.index_book_p p{ width:475px;line-height:22px;display:block; text-indent:6px; font-size:12px; margin-left:10px;float:left;background:url(../img/tticon.gif) left -35px no-repeat;}
.index_book_p strong{ text-align:center; display:block; width:475px; margin-bottom:8px; font-size:14px;}
.index_book_p strong a{ color:#ff9900;}
.index_book_p strong a:hover{ color:#000;}
.index_book_jdzz{width:300px;height:16px;}
.index_book_jd{ width:730px;}
.index_book_jdwm{ width:700px; margin:10px auto;}
.index_book_jd span{ float:left; width:100px;}
.index_book_jd a{ font-size:12px; color:#000; float:left; width:620px; overflow:hidden; display:block;}
.index_book_jd a:hover{ font-size:12px; color:#ff9900; float:left; width:620px; overflow:hidden; display:block; }
.myTab4_Content0{display:none;}
.myTab4_Content0 input{padding:0 6px;margin:0 6px;}

.ziyu_dlt{ width:750px;overflow:hidden;}
.ziyu_dlt .display li{ display:none;overflow:hidden; }
.ziyu_dlt_lt{ border-bottom:dashed 1px #dddddd; margin-bottom:6px;width:720px; overflow:hidden; height:60px;}
.ziyu_dlt_lt img{ float:left;overflow:hidden; margin-right:12px; }
.ziyu_dlt_lt a{ font-size:12px; font-weight:bold;display:block; height:29px; line-height:29px; overflow:hidden; float:left;}
.ziyu_dlt_lt h3{ display:block; float:left; width:430px; overflow:hidden; line-height:29px;}
.ziyu_dlt_lt p{ text-align:right;}
.ziyu_dlt_lt p a{color:#888; margin-right:6px; font-size:12px; font-weight:normal;}
.ziyu_dlt_lt p a:hover{color:#ff9900}
.ziyu_dlt_lt p span{line-height:29px; margin:0px; padding:0px;text-align:right; }
.ziyu_dlt_lt h2{ font-size:12px; display:block; margin-top:2px; padding-left:40px;}
.ziyu_dlt_lt .icon{height: 30px;margin: 8px 6px 20px 0;width: 30px;background:url("../img/frmIconBlock.gif") no-repeat 0 0;}
.ziyu_dlt_lt div.newI{background-position:-30px 0;}
#hydh{height:24px;}
#hydh input{height:24px;}
#hydh div input{height:18px;line-height:18px;}
#hydh div select{height:22px;padding:2px;}

.con_2_table{margin:5px 0;}
.con_2_xq_tofu a{display:block;background:url("../img/btnbgs.gif") no-repeat 0 -123px; text-align:center;width:85px;height:21px;margin-left:5px;}
.con_2_xq_tofu a:hover{background-position:0 -144px;color:#000;}
.con_2_h4 a{ text-align:right; clear:both;width:540px; display:block;}
.con_2_xq_too{background:#F90;height:33px;}
.con_2_xq_too th{color:#FFF;}
.serTable .con_2_tr{height:30px;}
.serTable{border:0 none;}
.serTable td, .serTable th{border:0 none;}

.sider{width:235px;float:right;height:auto;overflow:hidden;padding:0;}

.footer .links{border:1px #ccc solid;padding:4px 12px;background:#FFF;margin-bottom:8px;}
.footer .links .close{display:block;width:15px;height:15px;background:url(../img/frmIconBlock.gif) 0 -70px no-repeat;margin:3px 0 0 959px;}
.footer .links .close:hover{background-position:-15px -70px;text-decoration:none;} 
.footer .links ul.fl{padding:0;margin:0;width:959px;}
.footer .links li{float:left;height:1.5em;line-height:1.5em;margin-right:5px;overflow:hidden;width:88px;text-align:left;}
.footer .links li a{color:#333;font-family:"微软雅黑"}

.divDjbuz .login{background:none;width:274px;height:168px;margin-bottom:0;}
.divDjbuz .login ul{padding:0;}
.divDjbuz .login li .inpTextBox{width:128px;background:none;padding-left:2px;}
.divDjbuz .login li input.yanzhengma{width:37px;}
