@charset "utf-8";
body{background:url(../img/zc_bj.jpg) top repeat-x #f5f5f5;}
.infoNum{float:right;display:block;width:25px;height:21px;line-height:21px;color:#FFF;background:url(../img/zy_ye.gif) left -20px no-repeat;text-indent:0;font-weight:bold;text-align:center;}
.toplist{height:27px;margin-bottom:6px;}
.biaotit a.blue{color:#06e;font-weight:normal;}
.biaotit a.blue:hover{text-decoration:underline;}
.biaotit a.atitle {float:left;font-size:14px;margin-left:8px;}
.divBtnContainer{margin:12px auto;}
.inp{background:url(../img/btnbgs.gif) -103px -60px no-repeat;color:#000;display:block;float:left;height:21px;line-height:21px;margin:0 8px 0 40px;text-align: center;width:72px;}
.inp:hover{background-position:-103px -81px;}

.friInvite h3{font:bold 14px/2em "微软雅黑";color:#F50;margin:3px;}
.friInvite .inpTextBox{font-size:14px;padding:4px 3px;float:left;width:390px;margin:3px 8px 12px 20px;}
.friInvite .con .inpTextBox{color:#666;}
.friInvite .inp{margin:3px 8px 0 0;width:81px;height:28px;line-height:28px;color:#FFF;background-position:-2px -208px;}
.friInvite .inp:hover{background-position:-87px -208px;}
.friInvite .inp.hover{background-position:-87px -208px;}
.friInvite .clearfix{border-bottom:1px #06e dashed;margin:60px 0 10px;}
.friInvite .conEmail{margin-left:20px;}
.friInvite .conEmail tr{background:none;}
.friInvite .conEmail .name{width:130px;margin:8px 0;}
.friInvite .conEmail .email{width:280px;margin:8px 0;}
.friInvite .conEmail a{color:#039;}
.friInvite .conEmail .textarea{padding:3px;width:430px;height:134px;line-height:1.8em;resize:vertical;}
.friInvite .conEmail .inp{color:#fff;}
table.friInviteList{margin:0 20px;}
table.friInviteList th{text-align:left;}
table.friInviteList .inp{margin-left:0;}
table.friInviteList a.name{color:#f30;}
table.friInviteList a.name:hover{text-decoration:underline;}

.qtnav{height:38px;margin:0 10px 4px;padding:0 20px;background:url(../img/gradient.gif) 0 -245px repeat-x;border:1px #F69 solid;border-radius:6px;}
.qtnav li{float:left;height:38px;width:90px;}
.qtnav li a{display:block;height:38px;font:bold 14px/38px "宋体";width:90px;color:#FFF;text-align:center;}
.qtnav li a:hover,.qtnav li a.current{background:url(../img/gradient.gif) 0 -285px repeat-x;}
.qtnav li a:hover{font-weight:normal;}

#wrapper{height:152px;}
#zhuc{margin:0 auto;width:900px;}
.header_top_logo{float:left;height:122px;width:286px;}
.header_top_logo img{width:286px;}
.zhucrig{margin:4px 0 0 286px;}
.zhucrig_t{line-height:40px;text-align:right;color:#000;height:40px;margin-bottom:60px;}
.zhucrig_x{background:url(../img/hysj.gif) 0 -105px no-repeat;height:35px;}
.zhucrig_x2{background-position:0 -140px;}
.zhucrig_x3{background-position:0 -175px;}
.zhucrig_x ul{height:35px;}
.zhucrig_x ul li{color:#FFF;float:left;font:bold 14px/35px "";text-align:center;width:200px;}

.gongsichakan{width:998px;overflow:hidden;font-size:14px;margin:0 auto;}
.gongsichakan_span{height:25px;line-height:25px;padding-top:10px;border-bottom:1px solid #F80;display:block;text-indent:20px;font-size:14px;color:#000;font-weight:bold;background:url(../img/gradient.gif) 0 -105px repeat-x;margin-bottom:12px;border-radius:6px 6px 0 0;clear:both;}
h3.gongsichakan_span{float:right;width:760px;}
h3.gongsichakan_spanNM{margin-bottom:0;}
.gongsichakan_span ul{float:right;}
.gongsichakan_span ul li{float:left;_height:22px;}
.gongsichakan_span ul li a{color:#FFF;}
.gongsichakan_span ul li a:hover{color:#c00;}
.gongsichakan_more,.gongsichakan_jobs{padding:0 10px;overflow:hidden;line-height:30px;}
.gongsichakan_jobs{margin-bottom:10px;border-bottom:1px #999 dashed;}
.gongsichakan_more_catalog{float:left;width:218px;}
.gongsichakan_more_catalog .zy_lt a{font-size:14px;color:#fff;margin-left:16px;}
.gongsichakan_more_catalog .zy_lt a:hover{color:#F00;text-decoration:underline;}
.gongsichakan_more_catalog .zy_xxl dd{margin:2px 0;padding-left:18px;}
.gongsichakan_more_left{width:460px;height:auto;overflow:hidden;float:left;}
.gongsichakan_more_left a{color:#F60;}
.gongsichakan_more_left a:hover{text-decoration:underline;}
.gongsichakan_more_left table th{width:90px;padding-right:8px;text-align:right;}
.gongsichakan_more_right{width:300px;height:auto;float:right;text-align:right;}
.gongsichakan_more_right img{max-width:296px;max-height:280px;border:2px solid #666;}
.gongsichakan_nr_cpzs{color:#ff9900;font-size:14px;text-align:center; width:560px; height:30px;}
.gongsichakan_more_bottm{margin-top:8px;width:760px;float:right;}
.gongsichakan_more_bottm .fanyea{float:none;margin:8px auto 0;height:22px;line-height:22px;}
.gongsichakan_zp{margin-top:0;}
.gongsichakan_zp .gongsichakan_zpb{border-top:1px #333 solid;height:12px;}
.gongsichakan_more_bottm p{text-indent:2em;}
.gongsichakan_more_bottm .xiushan_anniu a{line-height:21px;}
.gongsichakan_more_bottm .hyxzyemian22{width:100% !important;}
.gongsichakan_more_bottm .hyxzyemian_xza a{margin:5px auto;}

.gongsichakan_image .left,.gongsichakan_image .right{background: url("../img/btnleft.gif") no-repeat 4px -46px;cursor: pointer;float: left;height:46px;margin-top:55px;width:30px;}
.gongsichakan_image .left:hover{background-position:4px 0;}
.gongsichakan_image .right{background-position:-26px -46px;}
.gongsichakan_image .right:hover{background-position:-26px 0;}
.gongsichakan_image .middle{float:left;width:938px;height:200px;overflow:hidden;}
.gongsichakan_image ul li{width:156px;float:left;text-align:center;}
.gongsichakan_image ul li img{max-width:148px;max-height:122px;}
.gongsichakan_image a{display:block;margin:2px 6px;}
.gongsichakan_jobs span{color:#000; font-size:20px; font-weight:bold; height:30px; line-height:40px; margin:5px 0px;}
.gongsichakan_post{margin-bottom:12px;}
.gongsichakan_post .inpButton{display:inline\9;}

.tousongjianli{background:#ff9900;display:block; width:90px; height:24px;text-align:center;line-height:24px;float:left; margin:0 10px;}
.tousongjianli a{color:#FFF;display:block; width:90px; height:24px;text-align:center;}

.gongsichakan_gscp{width:978px;margin:0 10px 12px;}
.gongsichakan_gscpimg{padding:0 12px;}
.gongsichakan_gscpimg li{margin:0 3px;}

.gongsichakan_more_bottm .reProducts li{float:left;width:172px;text-align:center;overflow:hidden;margin:0 9px 8px;}
.gongsichakan_more_bottm .reProducts li a{display:table;_position:relative;}
.gongsichakan_more_bottm .reProducts li .borderImg{margin:0 8px;border:1px #ccc solid;vertical-align:middle;display:table-cell;height:130px;width:170px;}
.gongsichakan_more_bottm .reProducts li a:hover div{border-color:#F90;}
.gongsichakan_more_bottm .reProducts li p{display:table-row;text-indent:0;}
.gongsichakan_more_bottm .reProducts li img{max-width:170px;max-height:130px;}

.gongsichakan_more_bottm h2{text-align:center;font-size:16px;font-weight:bold;}
.gongsichakan_more_bottm .img{margin:3px auto;display:block;max-width:700px;max-height:500px;}
.gongsichakan_more_bottm h3{text-align:center;font-size:12px;font-weight:bold;margin:5px 0 10px;}
.gongsichakan_more_bottm .moreImg{overflow:auto;height:124px;margin-bottom:12px;}
.gongsichakan_more_bottm ul{height:107px;}
.gongsichakan_more_bottm .conTable3{margin-bottom:8px;}
.moreImg .reProducts li{width:115px;margin:0;}
.moreImg .reProducts li .borderImg{width:100px;height:75px;}
.moreImg .reProducts li img{max-height:75px;max-width:100px;}

.posInfo{margin-bottom:12px;}
.posInfo a.red{color:#F50;background:url(../img/tticon.gif) right -10px no-repeat;padding-right:16px;}
.posInfo a.red:hover{text-decoration:underline;}
.tableGsckJ499{width:998px;position:relative;top:-12px;}
.tableGsckJ499 td{vertical-align:top;}
.gsckJ499{width:499px;padding:0;margin:0;overflow:visible;}
.gsckJ499 .hyxzyemian22{float:none;width:492px;margin:0 3px 8px;}
.gsckJ499 .hyxzyemian22 td{vertical-align:middle;}
.gsckJ499 .jsxxxq .divDeliverRe{border:0 none;border-top:1px #CCC dashed;}

.jsxxxq{border:0 none;height:auto;}
.jsxxxq .hyxzyemian22{width:589px;margin:8px 0;}
.jsxxxq .divDeliverRe{background:#FFF;border:1px #999 dashed;margin-top:6px;overflow:hidden;clear:both;display:none;}
.jsxxxq .divDeliverRe .sjle label{font-weight:bold;}
.jsxxxq .divDeliverRe .sjle .inpButton{width:100px;margin:12px -150px 12px 160px;float:left\9;padding-top:3px\9;}
.sjle img#code{height:22px;margin:0 8px;vertical-align:text-bottom}

.jsxxxqB{position:absolute;z-index:99;width:605px;display:none;background:#FFF;border:1px #999 dashed;padding:12px;}
.jsxxxqB .closeDiv{display:block;position:absolute;width:22px;height:22px;background:url(../img/xc_r.gif) -37px -6px no-repeat;top:-10px;right:-8px;}
.jsxxxqB .closeDiv:hover{background-position:-37px -38px;}
.jsxxxqB .divBtnContainer{*padding-top:8px;}
.jsxxxqB .errorMsg{margin-left:12px;color:#F00;}
.jsxxxqB .prompt{margin:12px 0;}
.jsxxxqB .prompt label{float:left;line-height:24px;padding-right:5px;text-align:right;width:80px;}
.jsxxxqB .prompt .inpTextBox{padding:3px 5px;width:218px;}
.jsxxxqB .sjle{margin-top:12px;}
.jsxxxqB .sjle ul{overflow:hidden;}
.jsxxxqB .xq_zl_xbxq{padding:8px;}

#zyt{width:1000px; margin:0 auto;height:100px;}
.zylo{width:288px; float:left; height:100px; background:url(../img/logo.jpg) center no-repeat;}
.zydh{width:690px; float:right; padding-top:33px;}
.zydh_b{height:41px; background:#ff9900;}
.zydh_b ul{ width:368px; float:left; margin-left:10px; text-align:center; padding:0px;} 
.zydh_b ul li{ width:72px; float:left;border-left:1px solid #f5f5f5;}
.zydh_b a{ font-size:14px; line-height:41px; font-weight:bold; color:#FFF;display:block;}
.zydh_b a:hover{background-color:#e27e09;}
.zydh_b p{margin-left:3px; width:45px; float:left;}
.zydh_b p a{color:#FFF;line-height:41px; text-align:center;font-size:12px;cursor:default;}
.zydh_b p a:hover{font-weight:bold;background-color:#FF9900;}
.zylb{width:250px; height:26px; float:left; margin-top:7px;position:relative;}
div.sltSearchTil{border:1px #b7b7b7 solid;display:block;height:24px;width:65px;padding:0 17px 0 3px;background:url(../img/sprites_jianli.gif) 68px -150px no-repeat #FFF;margin:0;cursor:pointer;float:left;}
div.sltSearchTil:hover{background-position:68px -174px;}
div.sltSearchTil a,ul.sltSearch li a{background:none !important;font-size:12px;color:#333;font-weight:normal;height:24px;line-height:24px;}
ul.sltSearch{position:absolute;border:1px #b7b7b7 solid;margin:0;width:85px;z-index:100;top:26px;left:0;background:#FFFFFF;display:none;}
ul.sltSearch li{float:none;width:85px;border:none;}
ul.sltSearch li a:hover{background:#CCC !important;}
.zysos{width:151px; height:26px; background:url(../img/zy_so.jpg) center no-repeat #FFF; float:left; margin:7px 0 0 4px;cursor:pointer;overflow:hidden;}
.txtSearch{border:1px #b7b7b7 solid;height:24px;width:125px;margin-left:5px;float:left;line-height:24px;padding:0 3px;}
a.btnSearch{width:21px;height:26px;background:url(../img/sprites_jianli.gif) 0 -96px no-repeat;float:left;}
a.btnSearch:hover{background-position:0 -122px;}

.biaotit .mebgszyT{background:url(../img/tticon.gif) 0 -5px no-repeat;padding-left:15px;}

.zy_zhud{width:1000px;margin:0 auto 12px;position:relative;}
.zy_l{width:186px;margin-right:12px;height:auto;float:left;_overflow:hidden;}
.zy_lq{width:184px;height:auto; border:#ff9900 1px solid;margin-bottom:6px;border-radius:6px;overflow:hidden;}
.zy_lt{background:url(../img/zy_fl.gif) repeat-x; display:block;overflow:hidden;cursor:pointer;_width:184px;}
.zy_lt img{ float:right; margin-top:10px; margin-right:6px;}
.zy_lt span{width:160px;height:28px;line-height:28px;font-size:14px;font-weight:bold;color:#FFF;text-align:center;display:block;float:left;overflow:hidden;text-shadow: 0 0 12px #F00;}
.zy_lx{ padding:10px 0px; width:183px;}
.zy_lx ul{ padding:0px; margin:0px; display:block;}
.zy_lx ul li{ height:20px; color:#000; text-indent:18px;line-height:20px; display:block;}
.zy_lx ul li a{color:#000; display:block;line-height:20px;height:20px;}
.zy_lx ul li a:hover{background:#d7d5d5;}
.zy_xxl{padding:10px 0px;}
.zy_xxl dl dt{ height:20px;  color:#000; text-indent:18px;line-height:20px; margin:3px auto;  background:#d7d5d5; }
.zy_zf{float:left; height:22px; line-height:22px; padding-left:10px;}
.zy_xxl dl dd{ height:22px;color:#000; text-indent:18px;line-height:20px; width:160px; padding-left:20px;}
.zy_xxl dl dt a{color:#000;}
.zy_xxl dl dd a{background:url(../img/zy_ye.gif) left 0 no-repeat;display:block;color:#000;height:20px;width:130px;float:left;}
.zy_xxl dl dd a:hover{color:#ff9900;} 
.gongsichakan_more_catalog dl dd a{width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.gongsichakan_more_catalog dl dt{height:24px;line-height:24px;}

.zy_bz a,.zy_fx a{display:block;width:186px;height:63px;background:url(../img/zy_yjfk.gif) 0 -128px no-repeat; margin:5px auto;}
.zy_bz a:hover{background-position:0 -191px;}
.zy_fx a{background-position:0 0;height:64px;}
.zy_fx a:hover{background-position:0 -64px;}

.zy_z{float:left;width:605px;margin:0 12px 10px 0;overflow:hidden;}
.zy_zs p{line-height:30px;padding:0 8px;}
.zy_zs p a{margin:0 5px;}
.hx{border-bottom:1px solid #FFF;border-top: 1px solid #DDD;height:1px;width:599px;margin:10px 0;}
#result .resumeT{ table-layout:fixed;} 
#result .resumeT a{font-weight:bold;}

.zy_z .bottomRcdPos{width:605px;height:112px;clear:both;}
.zy_z .bottomRcd{position:absolute;bottom:0;width:605px;overflow:hidden;}
.zy_z .bottomRcd .fl{width:292px;background:#F5f5f5;}
.zy_z .bottomRcd .fl h3{padding:0 8px 0 22px;border-bottom:2px #C33 solid;background:url(../img/frmIcon.gif) 6px -662px no-repeat;height:22px;font:bold 14px/25px "宋体";margin-bottom:2px;*position:relative;}
.zy_z .bottomRcd .fl h3 a.more{float:right;*position:absolute;*top:0;*right:0;}
.zy_z .bottomRcd .fl li{margin:2px 8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.zy_z .bottomRcd .fl a{color:#333;*display:block;}
.zy_z .bottomRcd .fl a:hover{text-decoration:underline;}

.zy_z .primebInfo p{text-indent:2em;}
.zy_z .primebInfo p font{color:#F30\9;}
.zy_z .primebInfo a{display:block;margin:3px auto;background:url(../img/hot007.gif) RIGHT top no-repeat;padding:14px 0 0;width:85px;font-size:14px;font-weight:bold;color:#F40;text-decoration:underline;}
.zy_z .primebInfo a:hover{color:#F00;}
.zy_z .primebInfo h3{font:bold 14px "宋体";color:#06E;}
.zy_z .tip{width:605px;clear:both;}
.zy_z .tip a{margin-left:8px;color:#F50;}
.zy_z .tip a:after{content:">>"}
.zy_z .tip a:hover{color:#F00;}

.mebBaseinfo{border:1px solid #FFF;margin-bottom:12px;overflow:hidden;padding:12px 5px 8px;}
.mebBaseinfo a{color:#F60;margin:0 3px;}
.mebBaseinfo a:hover{color:#F00;}
.mebBaseinfo strong{margin:0 6px;color:#F30;}
.mebBaseinfoL{float:left;width:350px;border-right:1px solid #E5E5E5;width: 350px;}
.mebBaseinfoL tr:hover{background:none;}
.mebBaseinfoL td img { border: 1px solid #F90;width:108px;max-height:128px;width:108px;}
.mebBaseinfoL .mebInfo{line-height:30px;}
.mebBaseinfoL .mebInfo a{float:left;}
.mebBaseinfoL .mebInfo span{float:left;}
.mebBaseinfoL .progressBar{background: url("../img/zy_wsdbg.gif") no-repeat  0 center;display:block;height:30px;margin-right:6px;width:79px;}
.mebBaseinfoL .progressBar span{width:25%;height:30px;display:block;background:url(../img/zy_wsd.gif) 0 center no-repeat;text-align:center;}
.mebBaseinfoL .icon{background:url(../img/zy_yhIcons.gif) 0 0 no-repeat;display:block;height:20px;margin:3px 7px 0;}
.mebBaseinfoL .icon:hover{border-bottom:2px #EF8202 solid;padding-bottom:2px;text-decoration:underline;}
.mebBaseinfoL .iconH{background-image:url(../img/zy_yhIconsH.gif);}
.mebBaseinfoL .iconB{background-position:center -80px;width:14px;}
.mebBaseinfoL .iconM{background-position:center -40px;width:23px;}
.mebBaseinfoL .iconS{background-position:center -60px;width:13px;}
.mebBaseinfoL .iconT{background-position:center -100px;width:10px;}
.mebBaseinfoL .iconZ{background-position:center -20px;width:27px;}
.mebBaseinfoR{float:none;border-left: 1px solid #FFF;width:241px;margin-left:351px;_width:238px;_border:0 none;}
.mebBaseinfoR dd{padding:1px 0 1px 6px;}
.mebBaseinfoR .upgrade{text-align:right;padding-right:8px;}
.mebBaseinfoR .inpButton{margin-top:8px}
.mebBaseinfoR .ddAddFri{display:none;}
.mebBaseinfoR .txtAddFri{width:226px;height:70px;resize:none;}

.ulFormStep{background:url(../img/hysj.gif) 20px 0 no-repeat;height:35px;margin-bottom:12px; }
.ulFormStep li{text-indent:24px;float:left;width:180px;text-align:center;font:bold 14px/35px "";color:#FFF;}
.ulFormStep2{background-position:20px -35px;}
.ulFormStep3{background-position:20px -70px;}

.divForm{position:relative;}
.divForm dd{line-height:24px;margin-bottom:12px;overflow:hidden;_width:605px;}
.divForm dd label{float:left;padding: 0 5px 0 0;text-align:right;width:130px;font-weight:bold;}
.divForm dd li{float:left;}
.divForm dd li label{text-align:left;width:80px;font-weight:normal;*width:90px;}
.divForm dd span{float:left;margin-right:8px;}
.divForm dd select{width:100px;padding:2px 0;float:left;margin-right:8px;}
.divForm dd textarea{height:100px;resize:vertical;width:332px;margin-right:8px;}
.divForm dd .inpButton{margin-right:5px;}
.divForm dd .inpCheckbox{vertical-align:text-bottom;*vertical-align:middle;}
.divForm dd .inpTextBox{float:left;padding:3px 5px;width:218px;margin-right:8px;}
.divForm .divMapCor .inp{float:none;margin:0 auto;width:103px;background-position:0 -60px;font-weight:bold;}
.divForm .divMapCor .inp:hover{background-position:0 -81px;}
.divForm .mapCor{margin:3px 3px 8px;padding:6px 3px;border:1px #333 dashed;background:#FFF;display:none;}
.divForm #mapLayout{width:591px;height:400px;}
.divForm .payType .inpTextBox{width:40px;}
.divForm .productKinds select{width:150px;}
.divForm .productKinds .inpTextBox{width:90px;display:none;}
.divForm .validity .inpTextBox{width:97px;}

.zy_zszlB{border:1px #BBB solid;background:#FFFFFF;padding:3px 6px;margin-bottom:12px;}
.zy_zszlBT{border-color:#6c6;background-color:#F3FBFF;}
.zy_zszlBF{border-color:#F99;background-color:#FFF6F6;}
.zy_zszlB .txtTousu{margin:0 0 0 6px;}
.zy_zszlB .txtTousu .time{color:#666;margin:3px 0;}
.zy_zszlB .tablePTSSXQ{background:#FFF;margin:6px 0 0 0;width:585px;display:none;}
.zy_zszlB .tablePTSSXQ td{padding:3px 6px 3px 20px;text-indent:-16px;width:200px;}
.zy_zszlB .tablePTSSXQ .tableR{width:365px;text-indent:0;padding-left:6px;}
.zy_zszlB .tablePTSSXQ .tableR .result{color:#F00;}
.zy_zszlB .tablePTSSXQ .tableR .content{text-indent:12px;}

.zy_r{float:left;width:185px;padding:5px 0;overflow:hidden;}
.zy_r ul li{float:left;}
.zy_r ul li a{color:#000;}
.zy_r ul li.friend a{padding:1px 4px 1px 23px;background:url(../img/iconLogin.png) 0 -63px no-repeat;}
.zy_r ul li.znx a{padding:1px 4px 1px 23px;background:url(../img/iconLogin.png) 0 -103px no-repeat;}
.zy_r ul li.partTime a{padding:2px 4px 2px 23px;background:url(../img/iconLogin.png) 0 -82px no-repeat;}
.zy_r ul li a:hover{color:#ff9900;text-decoration:underline;}
.zy_r ul li .aZNXSpan span{margin:0 6px;}

.zy_r .change2{width:183px;border:#2196FF solid 1px;overflow:hidden;margin-top:12px;background:#FFF;}
.zy_r .nTab3 .TabTitle3{height:30px;line-height:30px;background:#2196FF;}
.zy_r .nTab3 .TabTitle3 ul li{float:left;width:35px;cursor:pointer;font-size:14px;text-align:center;color:#FFF;height:30px;line-height:30px;}
.zy_r .nTab3 .TabTitle3 ul li.long{width:78px;}
.zy_r .nTab3 .TabTitle3 .qyMyTab2 li{width:91.5px;}
.zy_r .nTab3 .TabTitle3 .active3{background:#FFF;color:#000;font-weight:bold;}
.zy_r .myTab1_Content2{display:none;}
.zy_r .con_3{background-color:#FFF;padding:6px 0 0;}
.zy_r .con_3 li{overflow:hidden;margin:4px 0 4px 3px;border-bottom:1px dashed #ccc;position:relative;white-space:nowrap;text-overflow:ellipsis;float:none;*width:171px;}
.zy_r .con_3 li a{background:url(../img/tticon.gif) left -43px no-repeat;padding-left:9px;*display:block;*background-position:left -37px;}
.zy_r .con_3 li a:hover {color:#f7951e;}
.zy_r .con_3 span{width:71px;height:18px;line-height:18px;display:block;position:absolute;right:0;top:0;background:#FFF;padding:0 3px;color:#666;}
.zy_r .con_3 h5{text-align:right;padding-right:8px;;}

.zy_rzj{ width:185px; height:31px; background:#2196FF; margin-top:12px;}
.zy_rzj strong{ width:135px;color:#FFF; line-height:31px; text-indent:8px; display:block;float:left;}
.zy_rzj span{line-height:31px;color:#000; float:left; display:block;}
.zy_rzj span a{line-height:31px;color:#FFF;}
.zy_rzj span a:hover{color:#FF0;}
.zy_r .zy_rzj_tt{border:1px #2196FF solid;_width:183px;_overflow:hidden;}
.zy_rzj_tt ul li{margin:6px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;float:none;}

.txtTousu a{color:#F60;text-decoration:underline;padding:0 30px 0 6px;background:url(../img/sprites_jianli.gif) right -78px no-repeat;}
.txtTousu .open{background-position:right -65px;}
.tableSort{margin-bottom:3px;}
.tableSort .inpButton{padding:0 3px\9;*padding:2px 2px 0;}
.tableSort .inpRadio,.tableSort .inpCheckbox{margin: 0 4px;vertical-align:text-bottom;*vertical-align:middle;}
.tableSort select{*height:20px;}

.gongxi{background:url(../img/okBlue.gif) 0 0 no-repeat;font-size:17px;color:#2196FF;margin:20px 34px;padding-left:30px;font-weight:bold;height:24px;}
.gongxiLink{text-align:center;}
.gongxiLink a{font-size: 14px;margin-right: 30px;text-decoration: underline;font-weight: bold;}
.failure .gongxi{background-position:0 -25px;color:#F30;}

.xq_zl {border: 1px solid #F5F5F5;margin:0 0 0 16px;overflow:hidden;padding:0 10px;}
.xq_zl_xbxq{overflow: hidden;width: 580px;}
.xq_zl_xbxq .tdRight{text-align:right;color:#D29334;}
.xq_zl_xbxq th.tdRight{color:#333;}
.xq_zl_xbxq .connection{color:#F30;}
.xq_zl_xbxq .tdLeft{text-align:left;padding:2px 6px 2px 0;}
.xq_zl_xbxq .tdLeft em{font-size:14px;color:#039;}
.xq_zl_xbxq .tdLeft em a{font-size:14px;color:#F30;}
.xq_zl_xbxq .tdLeft em a:hover{text-decoration:underline;}
.xq_zl_xbxq .tdLeft p{width:409px\9;}
.xq_zl_xbxq span {color: #3C3C3C;display: block;float: left;width: 290px;height:22px;}
.xq_zl_xbxq span label {color: #F30;display: block;float: left;text-align: right;width: 120px;}
.xq_zl_xbxq .connection span{display: inline;width: auto;margin-right:16px;}
.xq_zl_xbxq .connection label{display:inline;float:none;width:auto;}
.xq_zl_xbxq .deal label{color:#F30;}
.xq_zl_xbxq table tr{background:none;}

.tableDetail{padding:0 12px;}
.tableDetail table{margin-bottom:12px;}
.tableDetail table .portrait{border:1px #333 solid;width:115px;}
.tableDetail th{text-align:right;padding-right:8px;}
.tableDetail td{line-height:24px;}
.tableDetail td.top{ vertical-align:top;}
.tableDetail .red{color:#F30;}
.tableDetail p{width:395px\9;}
.tableDetail .divBtnContainer{margin:12px auto;}
.tableDetail1 tr:hover{background:none;}

.moreInfo{margin-top:6px;}
.xxContent{margin-bottom:8px;}

.txtEstimate div{width:599px;clear:both;}
.txtEstimate div span{width:108px;}
.txtEstimate input{float:left;display:block;margin:4px 6px 0 0;}
.txtEstimate input.btn{padding:2px 2px 0 2px\9;}
.txtEstimate label{float:left;margin:0 12px 0 0;height:28px;}
.txtEstimate span{float:left;height:28px;padding-left:20px;text-align:right;}
.txtEstimate textarea{float:left;height:98px;width:390px;margin:0 12px 12px 0;resize:none;}

.btnInfoCancel{display:block;text-align:center;width:150px;margin:0 auto;color:#F40;}
.btnInfoCancel:hover{color:#F20;}
.divProtocol .protocol{display:block;margin-left:160px;}
.divProtocol .protocol .inpCheckbox{display:block;width:15px;margin:3px 6px 0;float:left;*margin-top:0;}

.xsjgSend{float:left;width:590px;margin:6px 0 0 6px;display:none;}
.xsjgSend .textarea{resize:vertical;font-size:14px;float:left;width:507px;height:48px;margin-right:6px;}
.xsjgSend .hysj{background-position:5px top;}

.sjle{width:100%;float:left;overflow-y:hidden;position:relative;}
.sjle .area{width:240px;float:left;}
.sjle .area label{width:120px;}
.sjle .area1{float:left;width:90px;} 
.sjle .area1 select{width:81px;}
.sjle .area115 select{float:left;width:115px;} 
.sjle ul{width:100%;height:auto;}
.sjle ul li{line-height:24px;display:block;margin:0 0 10px;float:left;width:100%;text-indent:0;position:relative;}
.sjle ul li label{color:#333;width:145px; float:left;text-align:right;}
.imgYanzhengma{height:22px;margin:0 8px;vertical-align:text-bottom;}
.sjle ul li input{float:left;margin:0px 5px;}
.sjle ul li button,.sjle dl dt button{height:22px\9;line-height:18px\9}
.sjle ul li .area1 select{height:22px;}
.sjle ul li .inpFile{margin-left:0;padding:3px 0 2px;}
.sjle ul li .inpTextBox{width:218px;height:20px;line-height:20px;padding:0px 5px;margin-left:0}
.sjle ul li .prompt,.sjle dl dt .prompt{position:absolute;left:385px;top:0;width:179px;border:#009900 1px solid;background:#F3FBFF;color:#333;font-weight:normal;text-align:left;padding:1px 3px 0;z-index:90;}
.sjle ul.jianzhi li input{margin:0;}
.sjle ul li p{ float:left; width:200px;}
.sjle ul li p span{ color:#ff9900; font-size:12px; line-height:18px;}
.sjle ul li select{width:111px;height:20px;padding:1px 0;float:left;margin-right:8px;}
.sjle ul li textarea{float:left;width:290px;height:85px;resize:vertical;padding:3px 5px;}
.sjle ul li ul,.sjle dl dt ul{width:450px;float:right;}
.sjle ul li.avatar img{max-width:350px;}
.sjle ul .products{padding:0 5px;}
.sjle ul .products label{text-align:left;margin:0 0 0 6px;}
.sjle ul .products label .inpCheckbox{margin-right:6px;float:none;vertical-align:text-bottom;}
.sjle ul .keyuan li{width:225px;}
.sjle ul .keyuan li label{width:206px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.sjle ul li ul li{width:133px;margin:0px;}
.sjle ul li ul li label {width:114px;}
.sjle ul li ul li input{margin:4px 0 0;*margin-top:0;}
.sjle ul li ul.chkbox2 li{width:60px;}
.sjle ul li ul.chkbox2 li label{width:40px;}
.sjle ul li .protocol{padding-left:160px;width:400px;color:#666;text-align:left;}
.sjle ul li .protocol a{color:#F60;}
.sjle ul li .protocol a:hover{color:#F40;text-decoration:underline;}
.sjle ul li .protocol .inpCheckbox{margin:4px 6px 0;*margin-top:0;}
.sjle ul li .inpRadio label{width:60px;}
.sjle ul li .inpRadio input{width:15px;}
#captcha{color:#06E;font-weight:normal;}
#captcha:hover{text-decoration:underline}

.sjle dl {padding-left:5px;width: 590px;}
.sjle dl dt{line-height:24px;margin-bottom:12px;overflow:hidden;width:590px;}
.sjle dl dt label{float:left;line-height:24px;padding: 0 5px 0 0;text-align:right;width:125px;}
.sjle dl dt select{width:111px;padding:2px 0;float:left;margin-right:8px;}
.sjle dl dt input{float:left;height: 20px;line-height: 20px;padding: 0 5px;}
.sjle dl dt .advise{clear:both;color:#F60}
.sjle dl dt .inpFile{padding:6px 3px 0\9;margin-right:12px\9;}
.sjle dl dt .addCon,.sjle dl dt .deleCon{margin-left:12px;width:45px\9;height:22px\9;line-height:20px\9;}
.sjle dl dt .addConL{margin-left:100px;position:absolute;}
.sjle dl dt .deleConL{margin-left:150px;position:absolute;}
.sjle dl dt .inpTextBox{width: 218px;margin-right:8px;}
.sjle dl dt .youxiaoqi select{width:50px;padding:1px 0;}
.sjle dl dt input.addCon{height:24px;width:40px;}
.sjle dl dt textarea{float:left;height:100px;resize:vertical;width:322px;padding:3px 5px;}
.sjle dl dt ul li{float:left;width:204px;margin:0;color:#3C3C3C;}
.sjle dl dt ul .city,.sjle dl dt ul .trade{margin-left:0}
.sjle dl dt ul li label{width:80px;}
.sjle dl dt ul li .inpTextBox{width:85px;margin:0;}
.sjle dl dt ul li .chkWidth15{margin:2px 0 0;padding:0;}
.sjle dl dt ul li .inpCheckbox{margin-top:3px;}
.sjle dl dt .privacy li{width:110px;}
.sjle dl dt .privacy li label{width:80px;text-align:left;}
.sjle dl .productKinds input{width:90px;float:none;display:none;}
.sjle dl dt ul li .errorMsg{right:28px;line-height:24px;top:0\9;}
.sjle dl dt .products li label{text-align:left;font-weight:bold}
.sjle dl dt .qyzlDoc li label{width:160px;}

.sjle dl dt .divSex label,.sjle ul li .divSex label{width:80px;text-align:left;}
.sjle dl dt .divSex .inpRadio,.sjle ul li .divSex .inpRadio{margin:2px 3px 0 0;}
.sjle dl dt .cooperationWay label{width:auto;}
.sjle dl dt .cooperationWay .inpTextBox{width:36px;margin:0 3px;float:none;}
.sjle dl dt .divExpect select{width:170px;height:183px;margin-right:0;}
.sjle dl dt .divExpect .sel2211{height:20px;padding:0\9;}
.sjle dl dt .divExpect .div1{float:left;width:170px;height:183px;overflow:hidden;}
.sjle dl dt .divExpect .div2{float:left;width:66px;height:183px;overflow:hidden;}
.sjle dl dt .divExpect .inpButton{width:auto;height:auto;margin:6px 6px 0 6px;padding:0;padding:0 3px\9;*width:54px;}
.sjle dl dt .divExpect .sel2212{height:163px;*height:157px;}
.sjle dl dt .area1{width:110px;}
.sjle dl dt .area1 select{width:100px;}
.sjle dl dt ul.industry li{width:98px;}
.sjle dl dt ul.industry li input{width:auto;}
.sjle dl dt ul.industry li label{width:60px;padding:0;text-align:left;}
.sjle dl.dlPartTime{border:1px #666 dashed;padding-top:8px;margin-bottom:8px;width:570px;overflow:hidden;background:#FFF;}
.sjle dl dt .validity{width:450px;float:left;}
.sjle dl dt .validity li{width:97px;}
.sjle dl dt .validity li.zhi{width:36px;text-align:center;}
.sjle dl dt .payType{width:332px;float:left;}
.sjle dl dt .payType li{width:166px;}
.sjle dl dt .payType li span{margin:0 6px;float:left;}
.sjle dl dt .payType li .text{width:40px;padding:0 3px;}

#servicesForm .spanValue{float:left;padding:0 5px;background:#FFF;border:1px solid #69F;line-height:20px;}
#servicesForm .spanValueI,#servicesForm .spanValueI img{max-width:240px;_width:240px;}
#servicesForm .spanValueP{max-width:385px;_width:385px}

.sjle .mebSetup{padding-top: 0;}
.sjle .mebSetup dt{font-weight:bold;font-size:14px;list-style:inside disc;display:list-item;}
.sjle .mebSetup dd{margin:0 0 4px 15px;}
.sjle .mebSetup dd span,.sjle .mebSetup dd label{margin-right:12px;float:left;}
.sjle .mebSetup dd .inpRadio{margin:4px 4px 0 0;display:block;float:left;}
.sjle .mebSetup dd .inpText{width:40px;text-align:center;margin-right:6px;}
.sjle .mebSetup dd.xiushan_anniu{text-align:center;margin:6px 0 0 204px;}
.sjleBold ul li{font-weight:bold;}
.xiushan_anniu{width:110px;}

.zy_z .mebleft{float:left;width:298px;border-right:1px #666 dashed;padding:0 2px;overflow:hidden;}
.zy_z .mebleft .biaotit1{font-size:14px;color:#06E;border-bottom:1px solid #999;margin-top:3px;text-indent:1.2em;}
.zy_z .mebleft .biaotit2{color:#F60;}
.zy_z .mebleft .blue{color:#06E;}
.zy_z .mebleft .blue:hover{text-decoration:underline;}
.zy_z .mebleft table th{text-align:right;}
.zy_z .mebright{border-left:1px #666 dashed;border-right:0 none;margin-left:-1px;}
.zy_z .mebleft .btnMoreInfo{display:block;background: url("../img/btnbgs.gif") no-repeat 0 -123px;color: #3C3C3C;height: 21px;margin: 8px auto 0;text-align: center;width:85px;}
.zy_z .mebleft .btnMoreInfo:hover{background-position: 0 -144px;color:#FF6600;}

.lifbuzhid{width:140px; text-align:center;font-size:14px; color:#FFF; line-height:30px; background:#ff9900; display:block; float:left; margin:0 20px;}
.lifbuzhid a{ color:#FFF; font-size:14px; font-weight:bold;}
.lifbuzhid_aniu{ padding-left:140px;}

.volume .inpButton{float:right\9;padding-top:3px\9;}

.safe_item{border-bottom: 1px dashed #E5E5E5;padding: 15px 20px;position: relative;width:559px;height:50px;}
.safe_item_title {float: left;font-size: 14px;font-weight:bold;line-height: 50px;padding-left: 60px;width: 60px;background:url(../img/safeIcons.gif) 0 0 no-repeat;}
.safe_item_des{float: left;line-height: 18px;margin-left:40px;width: 330px;}
.btnSaftMod{float: left;display:block;width:50px;height:21px;text-align:center;background:url(../img/btnbgs.gif) 0 -102px no-repeat;}
.btnSaftMod:hover{background-position:-50px -102px;}
.safe_mobile {border:none;}
.safe_alipay .safe_item_title {background-position:0 -228px;}
.safe_password .safe_item_title {background-position:0 -50px;}
.safe_email .safe_item_title {background-position:0 -100px;}
.safe_mobile .safe_item_title {background-position:0 0;}
.safe_payPassword .safe_item_title {background-position:0 -150px;}

.xxjs {border: 1px solid #F5F5F5;margin-bottom: 8px;overflow: hidden;width: 597px;}
.xxjs ul {margin: 12px 6px;overflow: hidden;padding: 0;width: 585px;}
.xxjs ul li {display: block;float: left;padding-bottom: 10px;width: 280px;}
.xxjs ul li label {display: block;float: left;line-height: 21px;padding: 0 5px;text-align: right;width: 70px;}
.xxjs ul li select{width:100px;padding: 1px 0;}
.xxjs ul li .inpTextBox{padding:3px;width: 140px;}
#amount-jiage,#amount-shouyi{color:#f6931f; font-weight:bold;margin-bottom:5px;line-height:23px\9;*line-height:16px;}
.ui-widget-content{border: 1px solid #AAA;color: #222;}
.ui-slider-horizontal {height: 0.8em;}
.ui-slider {position: relative;text-align: left;}
.ui-slider-horizontal .ui-slider-range {height: 100%;top: 0;}
.ui-slider .ui-slider-range {background-position: 0 0;border: 0 none;display: block;position: absolute;z-index: 1;}
.ui-slider-horizontal .ui-slider-handle {margin-left: -0.6em;top:-0.3em;*top: -3px;}
.ui-slider .ui-slider-handle {height: 1.2em;position: absolute;width: 1.2em;z-index: 2;cursor:col-resize;}
.ui-widget-header {background: url("../../img/ui-bg_highlight.png") repeat-x scroll 50% 50% #FF9900;font-weight: bold;}

.divMapContainer,.divMapCon{margin:3px;padding:6px 3px;border:1px #333 dashed;background:#FFF;color:#000;text-align:left;font-weight:normal;display:none;}
.divMapContainer .inpButton,.divMapCon .inpButton{width:45px;height:22px;padding-bottom:3px;}
#geostrPosition{width:400px;}
#mapLayout{width:591px;height:500px;}
#mapLayout #redefine{display:block;margin:0 0 0 60px;width:80px;height:25px;}
.divMapContainer .divInput,.divMapCon .divInput{height:28px;}
#tglMap{display:block;background:url(../img/btnbgs.gif) 0 -60px no-repeat;color: #3C3C3C;width:103px;margin:0 auto;height:21px;text-align:center;font-weight:bold;}
#tglMap:hover{color: #FF6600;background-position:0 -81px;}

.divMap{border:1px #999 solid;}
.divMap .divMapCon{border:0 none;background:#FFF;}
.divMapCon .divInput .inpTextBox{padding:2px;margin-right:12px;}
.divMapCon .divInput .inpButton{height:auto;}
.toggleMap{text-align:center;width:80px;margin:-1px auto 10px;cursor:pointer;border:1px #999 solid;border-top:none;background:#F5F5F5;}

.switchBox .ui-state-default,.switchBox .ui-widget-content .ui-state-default,.switchBox .ui-widget-header .ui-state-default{background:url(../img/jqueryUi/ui-bg_glass_75_FABB85_1x400.png) repeat-x scroll 50% 50% #FF9900;border: 1px solid #D3D3D3;}
.switchBox .ulParttime{margin-top:0;}
.dtSwitchBox .divTable{*left:0;}
.dtSwitchBox .divTable dl{width:343px;padding:0;}
.dtSwitchBox .divTable dt{width:331px;margin-bottom:0;}
.dtSwitchBox ul{float:left !important;}
.dtSwitchBox .inpCheckbox{*margin-top:0 !important;}
.dtSwitchBox .selectedOpts{width:460px;}
.dtSwitchBox .selectedOpts li{min-width:60px;width:auto;margin-right:8px;}
.dtSwitchBox .inpButton{margin-left:0;padding-top:0;line-height:24px\9;}

.xxjs ul.eliteR{border:1px #CCC solid;}
.xxjs ul.eliteR li{width:117px;text-align:center;padding:0;height:177px;}
.xxjs ul.eliteR li a{padding:3px 2px 0;display:block;border:1px #ccc solid;}
.xxjs ul.eliteR li a:hover{border-color:#F50;*border:1px #ccc solid;}
.xxjs ul.eliteR li .avatar{width:111px;height:128px;}
.xxjs ul.eliteR li .name{font-size:14px;font-weight:bold;}
.xxjs ul.eliteR li img{max-height:128px;max-width:108px;}

.partTime ul.ulParttime li{width:190px;}
.partTime ul li select{width:113px;}

#tousu {border: 1px solid #FFFFFF;padding-bottom:16px;overflow: hidden;width: 596px;}
#tousu .shur {display: block;overflow: hidden;width: 580px;}
.sdfds { border: 1px solid #FF9900;line-height: 30px;margin-top: -1px;position: relative;text-align: center;width: 520px;z-index: 0;}
.sdfds2 {display: block;margin:0 0 10px 25px;width: 520px;}
.sdfds li {color: #000000;overflow: hidden;}
.sdfds_fdx {overflow: hidden;position: relative;width: 520px;z-index: 1;}
#s1s li{float:left;width:100px;border:1px solid #ff9900;border-bottom:none; text-align:center; line-height:30px;}
.sdfds font {display: block;float: left;margin-top: 5px;width: 85px;}
.sdfds span {color: #000000;height: 28px;line-height: 28px;margin-bottom: 2px;overflow: hidden;width: 450px;}
.sdfds span a{ width:85px; float:left; line-height:22px; margin-bottom:2px; color:#000; display:block;}
.sdfds span a:hover{ color:#ff9900;}

.fbyl2{margin-bottom:8px;overflow:hidden; padding-left:18px; }
.fbylspa{width:145px; height:30px; display:block; overflow:hidden; float:left; margin-right: 6px}
.fbylspa h2{text-align:right; display:block; float:left;padding-right:6px;}
.fbylspa img{ float:left; margin-left:5px; overflow:hidden;}
.fbylspa select{height: 20px;}
.fbylspa input{width:96px;}
.fbyls{ display:block; float:left; width:60px; height:22px; background:#ff9900; border:#fff solid 1px; font-size:14px; font-weight:bold; color:#FFF; line-height:22px; text-align:center; margin-left:10px;}
.fbyls a{ color:#EEE;}
.fbyls a:hover{color:#FFFFFF;}

#tousu{ border:1px #fff solid; width:596px; display:block; margin-bottom:20px; overflow:hidden;}
#tousu .shur{ width:580px; margin:9px auto; display:block;overflow:hidden;}
.shur dt{ margin:8px auto; display:block;overflow:hidden;}
.shur label{ float:left; width:100px; display:block; text-align:right;overflow:hidden;}
.shur select{ float:left; width:150px; display:block;overflow:hidden;}
.shur textarea{ width:440px;height:109px;display:block;float:left; overflow:hidden;resize:vertical;}

.znx dl dd{margin: 10px 0;}
.znx dl dd label{float:left;width:48px;text-align:right;}
.znx dl dd .inpTextBox{padding:3px 2px;width:450px;}
.znx dl dt select {width: 100px;}
.znx textarea{resize:vertical;width:450px;height:84px;padding:2px;}

.znxTitle{height:29px;border-bottom:1px #ccc solid;}
.znxTitle li{float:left;width:100px;height:28px;line-height:28px;margin:0 8px 0 6px;text-align:center;border:1px #ccc solid;border-bottom:0 none;position:relative;}
.znxTitle li.active{background-color:#FFF;border-bottom:#FFFFFF 1px solid;}
.znxTitle li.active a{color:#000000;}
.znxTitle li.active a:hover{text-decoration:none;}
.znxTitle li a{font-size:14px;}
.znxTitle li a.deleResume{background:url(../img/binded.gif) left -56px no-repeat;margin:3px 0 0 3px;}
.znxTitle li a:hover,.znxContent .znxMesCon a:hover{text-decoration:underline;}
.znxTitle li span{position:absolute;right:-10px;top:-10px;}
.znxContent{background-color:#FFFFFF;border:1px #ccc solid;border-top:0 none;}
.znxContent ul li{margin:0 6px 6px;border-bottom:1px dashed #CCC;padding:12px 0;} 
.znxContent input,.znxContent label{float:left;}
.znxContent .inpChk,.znxContent .inpChkAll{display:block;margin:3px 6px 0 0;}
.znxContent .inpButton{margin:0 3px;}
.znxContent .title{font-weight:bold;padding-right:20px;background:url(../img/sprites_jianli.gif) right -63px no-repeat;}
.znxContent .titleH{background-position:right -79px;}
.znxContent .time{color:#666;margin:0 12px 0 0;}
.znxContent .close{float:right;background:url(../img/binded.gif) 0 -50px no-repeat;display:block;width:15px;height:22px;}
.znxContent .znxMesCon{border:1px #999 solid;background-color:#f0f0f0;padding:6px;margin:6px 0;clear:both;display:none;}
.znxContent .znxMesCon a{color:#F60;}
.pagesMag{height:32px;padding-left:6px;clear:both;}
.znxContent .trader{font-size:14px;color:#f60;margin:0 12px 0 3px;font-weight:bold;}
.znxContent .result{color:#F30;float:right;*float:left;padding-right:6px;}
.znxConTrade .title,.znxContent .titleNo{background:none;}
.znxConFri .inpButton{float:right;}
.znxConFri .deleMess{float:left;}
.fanyefr{float:right;margin:6px 0;}

.resumeTlt{clear:both;height:29px;border-bottom:1px solid #CCC}
.resumeTlt .znxTitle{float:left;}
.resumeTlt span{float:left;margin:5px;}
.resumeTlt span a{text-decoration:underline;color:#F30;}
.resumeTlt span a:hover{color:#F00;text-decoration:none;}
.resumeTlt .znxTitle li{margin:0 6px;width:110px;}
.conResume .biaotit{margin:0 5px 5px;padding:5px 0 0 8px;}
.conResume .biaotit a{float:none;font-weight:normal;margin-left:12px;color:#F30;text-decoration:underline;}
.conResume .biaotit a:hover{color:#F00;text-decoration:none;}
.conResume div .preview{margin:0 auto 6px;background:#FFF;border-color:#333}
.conResume div .preview .con_2_xq_too{background:#FEE !important;}
.conResume div .xiushan_anniu a{margin:0 -3px 0 6px}
.conResume div .con_2_tr:hover a{color:#333;}
.conResume div .con_2_tr:hover a:hover{color:#F40;}
.conResume h2{text-align:center;}
.conResume h2 a{font:bold 14px/32px "";}

.resume .divDemand .sjle{float:none;margin:25px auto 0;padding:8px 0;border:1px #ccc dashed;}
.resume .divDemand .sjle .inpButton{margin-left:260px;width:80px;}

.infoComments h3{border-bottom:1px #06E dashed;padding:0 0 2px 8px;font-size:14px;margin-bottom:8px;color:#666;font-weight:bold;clear:both;}
.infoComments .comment{clear:both;margin:0 0 8px;padding-bottom:4px;border-bottom:1px #999 dashed;overflow:hidden;}
.infoComments .name{font-size:14px;font-weight:bold;color:#06E;float:left;width:75px;height:22px;overflow:hidden;}
.infoComments .name.sender{color:#F50;}
.infoComments .name.system{color:#096;}
.infoComments .time{float:right;color:#666;width:114px;}
.infoComments .content{margin:0 115px 0 80px;}
.infoComments .content .appraise{color:#F30;margin-right:6px;}
.infoComments .fanyea{border:0 none;padding:0;}
.infoComments .reply{text-align:right;}
.infoComments .reply .inpTextBox{width:400px;margin:4px 0 8px;padding:3px;*vertical-align:middle;*margin-top:0;}

.zhanghujil{ width:597px;padding:0px; margin-bottom:10px; border:#FFF 1px solid; overflow:hidden;}
.zhanghujil_top { background:#ff9900;height:35px;}
.zhanghujil_top a{ color:#fff;font-size:14px;font-weight:bold;display:block;float:left;width:100px;height:35px;line-height:35px;text-align:center;}
.zhanghujil_top a:hover{background-color:#da8607;}
#dangq{background:#f03434;} 
.rightBody {padding:8px;}
.rightBody button{line-height:18px\9;}
.rightBody label a:hover{text-decoration:underline;}
.rightBody p{line-height:30px; padding:0px 10px; }
.rightBody p input{letter-spacing:1px;margin:0 4px;text-align:center;}
.rightBody p .inpRadio{vertical-align:text-top;*vertical-align:middle;}
#date_begin,#date_end{width:100px;padding:2px 0;}
.rightBody p #topupNum{width:50px;padding:2px 0;}
.rightBody p #topupQuery{padding:0 2px\9;*padding:2px 0 0;}
.rightBody_a{color:#333;font-weight:bold;}
.zwzi {font-size: 26px;}
.huangs_zit{color:#F90;}

.tishi{display:block; border:1px solid #c0c0c0;width:570px;padding:6px;background:#ffffd1; margin-bottom:10px;}
.tishi h1{color:#ff9900; font-weight:bold;}
.tishi a{color:#ff9900;}
.vip_cz_table_right {float:right;width:440px;}
.rightTitle1 {border-bottom:1px solid #b2b2b2;line-height:50px;}

.jzsousuo1{height: 27px;margin: 0 5px;width:590px;height:80px;}
#search_keyword{color: #666666;font-size: 14px;height:12px;padding:5px;width: 290px;float:left;margin:0 8px;}
.btn_search {color: #333333;cursor: pointer;display: block;float:left;font-size: 14px;font-weight: bold;height: 27px;line-height: 27px;text-align: center;text-decoration: none;width: 88px;}
.ad-search{float: left;margin-top: 5px;}
.ad-up {background:url(../img/sprites_jianli.gif) no-repeat scroll 0 -62px transparent;padding-left: 12px;margin-left:10px;}
#jzMore{float:left;margin:8px 2px;}
#jzMore select{margin:0 8px;padding: 2px 0;width:115px;height:20px;}

#zccon {background: url("../img/title_v2.jpg") no-repeat scroll 0 0 transparent;border: 1px solid #F5F5F5;margin: 12px auto 0;padding-top: 35px; width: 900px;}
#zccon .le{width:591px; height:485px; float:left;display:block;overflow:hidden;background-color:#FFFFFF;border:1px #DDD solid;border-right:1px #FE9900 dashed;}
.titleZC{background:url("../img/zy_ye.gif") no-repeat 550px -144px #E1E5E6;cursor:pointer;font:bold 14px/40px "";height: 40px;margin: 0 0 4px;padding-left: 20px;}
.titleZC:hover{background-color:#EEE;}
.titleZCc{background-position:550px -117px}
.le dl {display: block;overflow: hidden;padding-left: 30px;padding-top: 19px;width: 620px;}
.le dl dt {height:36px;overflow:hidden;padding-top:6px;width:510px;}
.le dl dt label{float: left;line-height: 36px;overflow: hidden;padding: 0 5px;text-align: right;width: 80px;}
.le dl dt input{font-size:14px;height:22px;line-height:22px;padding: 0 5px;width: 200px;}
.le ul {margin: 8px 0;overflow: hidden;padding: 0;}
.le ul li {padding: 3px 0 0 8px;width:100px;float:left;}
.le ul li label {float: left;line-height: 24px;text-align: right;width: 80px;}
.le ul li select {float: left;width: 100px;padding:1px 0;height:20px;}
.zcl{height: 18px;line-height: 18px;padding:0 0 8px 115px;}
.zcl .inpCheckbox{float: left;margin:2px 5px 0;*margin-top:0;}
.protocol{color:#F00;}

#zccon .ri{ width:305px; height:485px; float:left;border:1px #DDD solid;border-left:0px;position:relative;}
#zccon .ris{ margin:25px 0px 0px; font-size:14px; font-weight:bold; height:18px; line-height:18px; width:175px; text-align:right; color:#777;}
#zccon .rix{ width:298px; height:198px; margin:0 auto;}
.login{height:240px;margin:0 auto;overflow:hidden;width:250px;}
.login h1{color:#F7941D;font:bold 16px"";padding:10px 0;text-align:center;background:url(../img/huiyx.gif) center bottom no-repeat;margin-bottom:12px;}
.login ul {margin: 0 auto 15px;overflow: hidden;padding: 0;width: 250px;position:relative;}
.login ul li{height:22px;line-height: 22px;margin-bottom: 8px;width: 225px;}
.login ul li label{float: left;line-height: 20px;text-align: right;width: 70px;}
.login ul li img{float:left;height:22px;}
.login ul li .inp{margin:0 15px 0 70px;_margin:0 15px 0 30px;}
.login ul li .inpRadio{float:left;margin:3px 6px 0 0;*margin-top:0;}
.login ul li .inpTextBox{float: left;height: 20px;line-height: 20px;width:135px;padding-left:5px;color:#999;}
.login ul li .tL{text-align:left;width:55px;}
.login ul li #password{color:#333;}
#passwordL{color:#999;left:67px;position:absolute;top:31px;*top:32px;_top:33px;}
#loginWarning{right:250px;top:80px;}
#yanzhengma{width:67px;margin-right:3px;}
#getCheckNum,.getCheckNum{color:#187EE3;margin:0 0 0 4px;font-weight:normal;}
#getCheckNum:hover,.getCheckNum:hover{color:#003EE3;}

.renzheng{color: #333;font-size:14px;line-height: 2;width:900px;margin:0 auto 8px;padding-left:300px;}
.RZsuccess,.RZfailure{padding-left:200px;}
.renzheng h2{color:#090;font:25px/32px "微软雅黑","黑体",sans-serif;height:43px;margin:20px 0 20px 45px;}
.renzheng h2 span.reg-email-icon{background:url(../img/reg-ok.png) 0 0 no-repeat;display:block;height:38px;float:left;margin: 0 5px 0 0;width:39px;}
.renzheng p{font-size:14px;}
.renzheng p a{font-size:14px;color:#F30;}
.renzheng p a:hover{color:#F00;text-decoration:underline;}
.renzheng p strong{font-size:16px;color:#333;}
.RZfailure h2{color:#F30;}
.RZfailure h2 span.reg-email-icon{background-position:0 -76px;}
.renzheng .errorMsg{background:url(../img/binded.gif) 0 -24px no-repeat;padding:9px 0 3px 16px;color:#F00;position:static;}
.renzheng .yanzhen-email{font-size:14px;}
.pbut{padding-left:230px;}
.my_but{background:url(../img/zy_fl.gif) repeat-x 0;color:#EDEDED;display:block;font-weight:bold;height:28px;text-align:center;width:132px;font-size:14px;border:1px #f60 solid;}
.my_but:hover{color:#fff;}

.porleft{margin:0 auto;padding:30px 10px 0 0;width:500px;overflow:hidden;}
.porleft p {padding:0 0 12px 46px;width:686px;font-size:14px;height:32px;}
.porleft p a{display:block;float:left;font-size: 14px;line-height:30px;margin:0 3px;}
.porleft p img{height:24px;}
.porleft p label.zhmm{color:#666;margin-right:10px;font-size:14px;text-align:right;}
.porleft .forgetInp{margin-right:3px;padding:3px;width:200px;font-size:14px;letter-spacing:1px;}
.porleft .inw2{width:80px;display: block;float: left;margin:0 6px 0 0;width: 80px;}
.butt{background: url(../img/reg-btn.gif) no-repeat right top;display: inline-block;font-weight: 700;height: 34px;padding-right: 1px;margin-left:80px;}
.fgbtn {background: url(../img/reg-btn.gif) no-repeat  0 0;  border: medium none;color: #FFFFFF;cursor: pointer;display: block;font-size: 14px;font-weight: bold;margin: 0;padding: 6px 20px 7px;}

.contacts-list{padding:6px 0 0;width:604px;}
.contacts-list div{float:left;}
.contacts-list div.btn{margin-top:5px;*width:185px;}
.contacts-list .groupNC{display:none;}
.contacts-list li{border:1px solid #ccc;width:295px;overflow:hidden;margin:0 5px 8px 0;float:left}
.contacts-list img{width:100px;height:100px;margin:7px 3px;}
.contacts-list .name{margin-left:8px;*width:181px;}
.contacts-list .name a{color:#F50;}
.contacts-list .name a:hover{text-decoration:underline;}
.contacts-list .btn .inp{width:72px;background-position:-103px -60px;margin:0;}
.contacts-list .btn .inp:hover{background-position:-103px -81px;}
.contacts-list .btn select{float:left;margin:0 4px 0 0;width:75px;}
.contacts-list .btn .btnCancle{margin-right:0;}
.friSortGroup{padding:1px 0;margin-right:3px;}
.sort a{text-decoration:underline;}

#djbuz{background:#FFF;}
.divDjbuz{position:absolute;z-index:99;display:none;background:#FFF;overflow:hidden;padding-bottom:8px;}
.divDjbuz .payTable tr{background:none;}
.divDjbuz .tableDetail{padding-top:6px;}
.divDjbuz .zclan4{margin-bottom:4px;}
.djbuzTit{height:33px;}
.biaot{width:287px; background:url(../img/xc_tit.jpg) no-repeat; font-size:14px; font-weight:bold; height:33px; line-height:33px; display:block; float:left; color:#FFF; text-indent:8px;}
.biaot_wz{margin:10px 16px;}
.biaot_wz strong{color:#F60;}
.biaot_wzL{text-indent:20px;text-align:left;}
.biaot_wzL .code .inpTextBox{padding:2px;width:30px;}
.biaot_wzL .code a img{margin:0 8px -6px 12px;}
.biaot_an{margin:10px 8px; height:22px;overflow:hidden; }
.biaot_an span{background:#ff9900; height:22px; width:80px; display:block; text-align:center; float:left; margin:0 -20px 0 40px;}
.biaot_an a{color:#fff;display:block;}
.biaot_an a:hover{color:#333;}
.biaot_an .btn{display:block;width:80px;height:22px;background:#F90;text-align:center;float:left;}
.biaot_an .btn1{margin:0 auto;float:none;}
.biaot_an .btn2{margin:0 -90px 0 110px;}

.tcYanzhengma,.tcPwPay{padding-left: 10px;}
.tcYanzhengma span,.tcPwPay span{width:auto;margin:0 6px 0 0;background:none;}
.tcYanzhengma span a{color:#187EE3;}
.tcYanzhengma span a:hover{color:#003EE3;}
.tcYanzhengma span a img{height:20px;margin:0 6px -3px 0;}
.tcPwPay span input{height:18px;width:193px;}
.tcPwPay span a{margin:0 3px;padding:0 3px;}
.biaot_an1{ margin:0px 8px; width:3000px; height:30px; padding-left:25px;}
.biaot_an1 img{ float:left; display:block; margin-right:47px;}
.closeKuang,#closeKuang{height:33px;width:33px;display:block;float:right;background:url(../img/xc_r.gif) 0 -32px no-repeat;}
.closeKuang:hover,#closeKuang:hover{background-position:0 0;}
.biaot_wz .txtJyqxly,.biaot_wz .txtJytsly{resize:none;padding:3px;width:392px;height:40px;}

#xc_fk{background:#FFF;}
.fk_tit{width:517px; background:url(../img/xc_tit.jpg) no-repeat; font-size:14px; font-weight:bold; height:33px; line-height:33px; display:block; float:left; color:#FFF; text-indent:8px;}
.fk_tit img{ display:block; float:left;}
.fk_titbt{ margin:20px 8px;}
.qu_ne{ width:591px; background:#e2e2e2; height:30px; padding:0px;}
.qu_ne li,.qu_ner_a li{ font-size:12px; line-height:30px; width:100px; float:left; display:block; text-align:center; color:#000;}
.qu_ner_a {height: 40px;margin: 12px 0;}
.qu_ner_a input{height:20px;line-height:20px;font-size:16px;width:20px;text-align:center;}
.fk_zfan{margin:0px 8px; width:410px; height:30px; padding-left:170px; display:block; overflow:hidden;}
.fk_zfan span{background:#ff9900; height:22px; width:75px; display:block; text-align:center; float:left; margin:0px 20px;}
.fk_zfan a{ color:#fff;}
.fk_zfan a:hover{color:#000;}
.fk_zfan1{ margin:0px 8px; width:410px; height:30px; padding-left:130px;display:none;}
.fk_zfan1 img{ float:left; display:block; margin-right:47px;}
.payTable{margin:8px auto;width:500px;}
.payTable a{display:block;width:103px;height:21px;background:url(../img/btnbgs.gif) 0 -60px no-repeat;text-align:center;margin:3px 0 0 12px;float:left;}
.payTable a:hover{background-position:0 -81px;}
.payTable span{font-size:14px;font-weight:bold;padding:0 3px;color:#F50;}
.payTable textarea{resize:none;padding:3px;width:305px;height:60px;}
.payTable tr{height:32px;}
.payTable th{font-size:14px;background:#E2E2E2;padding-left:20px;text-align:left;}
.payTable td{font-size:14px;}
.payTable td #code{vertical-align:top;height:22px;}
.payTable .payShortage{background-image:none;width:120px;text-decoration:underline;color:#F30}
.payTableTil{text-align:right;padding-right:12px;width:100px;}
.txtComment{text-align:center;height:20px;line-height:20px;margin-top:15px;}
.txtComment input{height:16px;line-height:16px;font-size:16px;width:20px;text-align:center;}
#txtBuyerMes{width:365px;font-size:14px;height:35px;resize:none;}
#zffsJKB,#zffsJF{display:block;margin:4px 6px 0 0;float:left;*margin-top:0;}

.zhifu{width:900px;margin:0 auto 8px;}
.zhifu{width:900px;margin:0 auto 8px;}
.cashier-box-min{border: 1px solid #BCCCEE;padding: 10px;background-color:#FFF;margin-bottom:8px;}
.cashier-box-min h4{font-size:14px;font-weight:bold;border-bottom:#ddd 1px solid;margin-bottom:6px;padding-bottom:6px;}
.cashier-box-min h5{font-size:14px;margin-bottom:6px;height: 28px;clear: both;}
.cashier-box-min .inpButton{display:block;width:80px;height:30px;background:url(../img/btnbgs.gif) 0 0;border:0 none;color: #FFF;font:bold 14px/30px "";letter-spacing:1px;margin:12px 0 0;cursor:pointer}
.cashier-box-min .inpButton:hover{background-position:0 -30px;}
.user-account tr:hover{background:none;}
.user-account th {padding-right:12px;text-align: right;width:165px;font-weight:normal;font-size:14px;height:30px;}
.user-account td{font-size:14px;font-weight:bold;font-size:14px;}
.user-account td span {color: #06A;margin:0 3px;font-size:14px;}
.ui-list-icons{width:700px;}
.ui-list-icons li{float:left;width:145px;margin:0 8px 0 0;height:38px;}
.ui-list-icons .icon-box{border:1px #999 solid;width:145px;height:36px;cursor:pointer;display:block;background:url(../img/combo.png) 16px 0 no-repeat;}
.ui-list-icons .inpRadio{float:left;margin:12px 0 0 3px;}
.ui-list-icons .points{background-position:16px -36px;}

.payProblem{padding:10px;border:1px #A5B9CE solid;background-color:#FFFFFF;overflow:hidden;}
.payProblem h3{background:url(../img/reg-ok.png) 0 -152px no-repeat;height:38px;line-height:38px;padding-left:50px;margin-bottom:20px;font-size:20px;font-weight:bold;}
.payProblem dl{margin-left:50px;}
.payProblem dl dt{list-style:outside disc;font-weight:bold;display:list-item;margin-top:10px;}
.tablePTSSXQ{border:1px #999999 solid;}
.tablePTSSXQ th{font-size:16px;height:35px;}
.tablePTSSXQ tr{height:35px;}
.tablePTSSXQ td{padding:6px 8px 6px 40px;text-indent:-18px;border-style:solid;border-color:#999;}
.tablePTSSXQ .tableR{text-indent:0;padding-left:18px;}
.tablePTSSXQ .inpRadio{margin:4px 4px 0 0;float:left;}
.tablePTSSXQ label{margin:0 12px 0 0;float:left;}
.tablePTSSXQ .textarea{width:407px;height:27px;resize:vertical;float: right;}
.tablePTSSXQ strong{font-size:14px;color:#F00;padding-right:16px;}

.resume h3{background:none;font-size:16px;padding:0;text-align:center;margin:10px 40px 10px;font-weight:bold;}
.resume .preview{background:#FFF;border:1px #333 solid\9;}
.resume .preview tr{background:#FFF;}
.resume .preview th{border-color:#333;}
.resume .preview td{padding:1px 3px;border-color:#333;line-height:24px;}
.resume .preview td img{max-height:97px;max-width:69px;_height:97px;_width:69px;}
.resume .preview .position td{padding:0;}
.resume .preview .tlt{text-align:right;background:#FEE;font-weight:bold;}
.resume .preview .tltH{text-align:center;font-size:14px;padding:5px 0;background:#FCC;}
.resume .preview .tltL{text-align:left;}
.payProblem .preview td img{max-height:140px;max-width:100px;_height:140px;_width:100px;}

table.previewTH td{height:45px;}
table.previewTH td.tltH{height:22px;}

.withdraw ul li label{font-weight:bold;width:180px;}
.withdraw ul li .sum{width:60px;margin-right:8px;letter-spacing:2px;} 
.withdraw li .inp{font-weight:normal;background-position:0 -60px;width:103px;margin-left:8px;}
.withdraw li .inp:hover{background-position:0 -81px;}

.sjleSafety ul li .inpRadio{display:inline;width:auto;}
.sjleSafety .corInpRadio{width:80px;padding-left:200px;line-height:18px;}
.sjleSafety .inp{margin-left:200px}
.con_2_table td a{font-weight:bold;}
.con_2_xq_tofu a{font-weight:normal !important;}

/*jQuery Style*/
.fwNormal{font-weight:normal !important;}
.fwBold{font-weight:bold !important;}
/*jQuery calendar*/
#ui-datepicker-div{font-size:11px;background:#EEE;}
.ui-datepicker table{margin:0 -1px 0.4em;}
.ui-widget-header{background:#F6AF39;}
.ui-datepicker th{padding:0.3em}
.ui-datepicker td span, .ui-datepicker td a{padding:0.1em 0.2em;}
.ui-datepicker .ui-datepicker-title{color:#FFF;}
.ui-widget-header .ui-icon {background-image:url(../img/jqueryUi/ui-icons_FFFFFF_256x240.png);}
.ui-datepicker-prev:hover,.ui-datepicker-next:hover{background-color:#FDF5CE;}
.ui-datepicker-prev-hover span,.ui-datepicker-next-hover span{background-image:url(../img/jqueryUi/ui-icons_EC8E0C_256x240.png) !important;}
.ui-state-default, .ui-widget-content .ui-state-default {background:#F6F6F6;border: 1px solid #CCCCCC;color: #1C94C4;font-weight: bold;outline: medium none;}
.ui-state-active, .ui-widget-content .ui-state-hover, .ui-widget-content .ui-state-active {background:#FFFFFF;border: 1px solid #FBD850;color: #EB8F00;font-weight: bold;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{margin:0 3px !important;width:58px !important;height:20px;}